.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  width: 50%;
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 {
  color: #032D60;
  font-weight: bold;
}
.sdfghdfgdf p {
  color: #181818;
  font-size: 17px;
  font-weight: 500;
}

.btn125 {
  padding: 14px 40px;
  background-color: #0176D3;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border: 2px solid #0176D3;
  border-radius: 4px;
}

.btn126 {
  padding: 14px 40px;
  background-color: transparent;
  color: #0176D3;
  font-size: 17px;
  font-weight: 600;
  border: 2px solid #0176D3;
  border-radius: 4px;
  margin-left: 10px;
}

.custom-container {
  width: 70%;
  margin: auto;
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfgjhfgd {
  display: flex;
  width: 100%;
  padding: 0 0 3rem 0;
}

p a{
    font-weight: 600;
}

.sdfsdfsdf h2 {
  color: #032D60;
}

.dfhbfgd {
  width: 100%;
}
.dfhbfgd img {
  width: 100%;
}

.dfbnhdfdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.dfbnhdfdf p {
  color: #181818;
  font-weight: 500;
  font-size: 17px;
}

.fgjhdfg .form-control {
  padding: 10px;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.fgjhdfg {
  margin-bottom: 20px;
}

.dfgbfdf button {
  padding: 14px 35px;
  color: white;
  background-color: #0176D3;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  font-weight: 500;
}

.inieuirjndsirferer.collapse {
    justify-content: right;
}

.dfbghdfgdfgdf {
  width: 100%;
  padding: 40px 0;
}

.mgjhbdfg p {
  padding-bottom: 10px;
  color: #181818;
}

.mgjhbdfg a {
  color: #0176D3;
  font-weight: 500;
}

.dfbjhfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.vgbfdf {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  border-radius: 1.4rem;
}

.custom-container10 {
  width: 75%;
  margin: auto;
}

.fbgdfgdfgdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.fbgdfgdfgdf p {
  color: #181818;
  font-size: 17px;
}
.fbgdfgdfgdf button {
  padding: 12px 30px;
  background-color: #0176D3;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.dgndfgdfgdf {
  width: 100%;
}
.dgndfgdfgdf img {
  width: 100%;
  height: auto;
}

.fdnbvgdfgdfgdf {
  margin-top: 40px;
}

.cfbvhdfgdf {
  width: 70%;
  margin: auto;
}
.cfbvhdfgdf h2 {
  color: #032D60;
  font-weight: bold;
  font-size: 40px;
}
.cfbvhdfgdf p {
  color: #181818;
  font-size: 17px;
}

.xnjhxffgdf {
  width: 100%;
}
.xnjhxffgdf img {
  width: 100%;
}

.gjhfgfgdfg {
  width: 100%;
  padding: 40px 0;
}

.gdfjkghdgsd {
  width: 100%;
  background-color: #143664;
  height: 450px;
  padding: 25px;
  border-radius: 4px;
}

.jhgdf {
  width: 100%;
  height: 2px;
  background-color: #40444E;
}

.gdfjkghdgsd h5 {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.gdfjkghdgsd p {
  color: white;
  font-size: 16px !important;
  width: 100%;
}

.gdfhgdfg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #C35F16;
  text-align: center;
  line-height: 55px;
}

.gdfhgdfg i {
  text-align: center;
  color: white;
}

.ggdfgdfg {
  margin-left: -20px !important;
}

.ggdfgdfg h6 {
  color: white;
  font-size: 18px !important;
  font-weight: 600;
}

.ggdfgdfg p {
  color: #fff;
  font-size: 14px !important;
  width: 100%;
}

.drfghdfgfr {
  margin-top: 15px;
}

.dfjbfg .form-control {
  padding: 10px;
}

.dfjbfg {
  margin-bottom: 25px;
}

.dfjbfg button {
  padding: 14px 45px;
  background-color: #2D4A8A;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 4px;
}

.dfjhdfbgdfgdfg h2 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 0;
}

.njhfbg5654 {
  width: 65px;
  height: 65px;
  text-align: center;
  margin: auto;
  background-color: #d6f7f7;
  border-radius: 8px;
  margin-top: 40px;
}
.njhfbg5654 img {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.gdfhbgdfgdfg h4 {
  color: #032D60;
  font-weight: 600;
  height: 75px;
  font-size: 24px;
}
.gdfhbgdfgdfg button {
  font-weight: 600;
  color: #032D60;
  text-decoration: underline;
  margin-top: 50px;
  border: none;
}

.container-grid {
  width: 80%;
  margin: auto;
}

.sdmsdjhsds{
    margin-top: -7rem;
    position: relative;
    z-index: -9;
}

.sdmsdjhsds img {
  width: 100%;
  height: auto;
}

.dienwm_iuemrer h2 {
    color: var(--main-blue-color);
    position: relative;
    margin-bottom: 3rem !important;
}

.dienwm_iuemrer h2:before {
    position: absolute;
    content: "";
    width: 5rem;
    height: 0.4rem;
    border-radius: 5px;
    background: linear-gradient(to right, #FE621F, #8C4AC8);
    top: -0.7rem;
    left: 0;
}

.dienwm_iuemrer h2:after {
    position: absolute;
    content: "";
    width: 5rem;
    height: 0.4rem;
    border-radius: 5px;
    background: linear-gradient(to right, #FE621F, #8C4AC8);
    bottom: -0.7rem;
    left: 0;
}

.ndjiwenkndfuiwehrwer{
    margin-bottom: 12rem;
}

.weinjiurr_inner{
    border-radius: 1.4rem;
    background: #E3FBFF;
}

.weinjiurr_inner h2{
    color: var(--main-blue-color);
    margin-bottom: 1.4rem;
}

.fjhfdfgdfg .weinjiurr_inner:nth-of-type(3n - 1){
    background: #8ed6e1;
}

.fjhfdfgdfg .weinjiurr_inner:last-child{
    background: #59a5b0;
    color: #fff;
}

.fjhfdfgdfg .weinjiurr_inner:last-child h2{
    color: #fff;
}

.dsrt_inner h2{
    color: var(--main-blue-color);
}

.doiwerhkwenrwer{
    background: no-repeat fixed;
    background-size: cover;
    background-position: center center;
}

.djniwer_inner{
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: saturate(180%) blur(10px);
}

.djniwer_inner h4{
    margin-top: 1rem;
    color: var(--main-blue-color);
    font-weight: 600;
}








@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        padding:20px !important;
        text-align: center;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
}



@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
}



@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}


@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}


@media only screen and (max-width:393px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
}







.fjhfdfgdfg55 img
{
  width: 100px;
  height: 110px;
  /* z-index: 9999999999; */
  position: relative !important;
  margin-top: -10px;

}

.fjhfdfgdfgss
{
  display: flex;
}

.fjhfdfgdfg55aa img
{
  width: 100px;
  height: 80px;
  margin-top: 10px;
  margin-right: -25px;

}


.fjhfdfgdfg55aaa img
{
  width: 100px;
  height: 75px;
  margin-top: 5px;
  margin-left: -9px;
  /* position: absolute; */
  


}

.fjhfdfgdfgss
{
  margin-top: -250px;
  margin-left: 20px;
}

.jkbjhb6552 img
{
  width: 3px;
  height: 15px;
  margin-top: -267px;
  margin-left: 95px;
}


.jkbjhb6552aa img
{
     width: 15px;
    height: 14px;
    margin-top: -297px;
    margin-left: 104px;
}

/* Rohit css start */
.RRIIMMGBG{
  width: 100%;
}
.RRIMGG1 .RRIIMMGG1{
    position: absolute;
    width: 10.3rem;
    left: 34px;
    top: 209px;
}
.RRIMGG2 .RRIIMMGG2{
position: absolute;
    width: 8rem;
    right: 0px;
    bottom: 122px;
}
.RRIMGG3 .RRIIMMGG3{
  position: absolute;
  width: 8rem;
  right: 56px;
  bottom: 29px;
}
.RRIMGG4 .RRIIMMGG4{
  position: absolute;
  width: 10rem;
  top: 58px;
  left: 79px;
}
/* Rohit css end */


/* Sayantika css start */
.ssp1 {
  position: absolute;
  width: 200px;
  height: 40px;
  top: 272px;
  left: 399px;
  animation: spraybr 2s ease-out;
}

.ssp2 {
  position: absolute;
  width: 176px;
  height: 41px;
  top: 20px;
  left: 90px;
  animation: spraytl 2s ease-out;
}

.ssp3 {
  position: absolute;
  width: 234px;
  height: 40px;
  top: 238px;
  left: -11px;
  animation: spraybl 2s ease-out;
}

.ssp4 {
  position: absolute;
  width: 187px;
  height: 40px;
  top: 34px;
  left: 419px;
  animation: spraytr 2s ease-out;
}
@keyframes spraytr{
  0%{
    transform: scale(0.2) translate(-500px,500px);
    opacity: 0;
  }
   50%{
    transform: scale(0.4) translate(0px,0px);
    opacity: 0.5;
  }

    100%{
    transform: scale(1) translate(0px,0px);
    opacity: 1;
  }
}
@keyframes spraytl{
  0%{
    transform: scale(0.2) translate(500px,500px);
    opacity: 0;
  }
   50%{
    transform: scale(0.4) translate(0px,0px);
    opacity: 0.5;
  }

    100%{
    transform: scale(1) translate(0px,0px);
    opacity: 1;
  }
}
@keyframes spraybr{
  0%{
    transform: scale(0.2) translate(-500px,-500px);
    opacity: 0;
  }
   50%{
    transform: scale(0.4) translate(0px,0px);
    opacity: 0.5;
  }

    100%{
    transform: scale(1) translate(0px,0px);
    opacity: 1;
  }
}
@keyframes spraybl{
  0%{
    transform: scale(0.2) translate(500px,-500px);
    opacity: 0;
  }
   50%{
    transform: scale(0.4) translate(0px,0px);
    opacity: 0.5;
  }

    100%{
    transform: scale(1) translate(0px,0px);
    opacity: 1;
  }
}
/* Sayantika css end */
