
/*start  photo sharing css*/
/*start  photo sharing css*/
/*start  photo sharing css*/
.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  width: 50%;
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 { 
  color: var(--main-blue-color);
  font-weight: bold;
}
.sdfghdfgdf p {
  color: var(--medium-text-color);
}

.dfgjhfgd {
  display: flex;
  padding: 1rem 0 3rem 0;
}

.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}
.sdfsdfsdf p {
  color: var(--medium-text-color);
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfngjhdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.cfbgjhcfdf {
  width: 100%;
  height: 450px;
}
.cfbgjhcfdf img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}


.jhbdfbgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfbdfdf {
  width: 100%;
  height: 250px;
  background-color: #f1fbf9;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.guifgfgfg {
  text-align: center;
}
.guifgfgfg h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}

.dfvgfdfvgdfg {
  margin-top: 40px;
}

.jhdfbdf55 {
  width: 100%;
  height: 520px;
}

.fbdf {
  width: 60px;
  height: 60px;
}
.fbdf img {
  width: 100%;
  height: 100%;
}

.jhdfbdf55 {
  width: 100%;
  height: 520px;
  background-color: #f1fbf9;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.dfdf55g h4 {
  color: #032D60;
  font-weight: 600;
}

.fgydfgdfg h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}

.fgydfgdfg button {
  padding: 12px 25px;
  border: 2px solid #032D60;
  border-radius: 25px;
  font-size: 17px;
}


/*end  photo sharing css*/
/*end  photo sharing css*/








@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        padding:20px !important;
        text-align: center;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
}



@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
}



@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}


@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}


@media only screen and (max-width:393px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
}

/*nisha startt*/

.dbfghsdf{
    position: relative;
}
.psspic1{
    position: absolute;
    width: 9vw !important;
    top: 4%;
    left: 18%;
    animation: fadedown 4s;
}
.psspic2{
    position: absolute;
    width: 9vw !important;
    top: 29%;
    left: 1.9%;
    animation: faderight 4s;
}
@keyframes faderight{
  0%{
    transform: translateX(-80px) scale(0.5);
    opacity: 0;
  }
  100%{
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.psspic3{
    position: absolute;
    width: 9vw !important;
    bottom: 15%;
    left: 20%;
    animation: fadeup 4s;
}
.psspic4{
    position: absolute;
    width: 9vw !important;
    top: 3%;
    right: 17.5%;
    animation: fadedown 4s;
}
.psspic5{
    position: absolute;
    width: 9vw !important;
    top: 29%;
    right: 1.9%;
    animation: fadeleft 4s;
}
@keyframes fadeleft{
  0%{
    transform: translateX(80px) scale(0.5);
    opacity: 0;
  }
  100%{
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
.psspic6{
    position: absolute;
    width: 9vw !important;
    bottom: 15%;
    right: 18.5%;
    animation: fadeup 4s;
}
@keyframes fadeup{
  0%{
    transform: translateY(100px) scale(0.5);
    opacity: 0;
  }
  100%{
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes fadedown{
  0%{
    transform: translateY(-100px) scale(0.5);
    opacity: 0;
  }
  100%{
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/*nisha endd*/



/*karina startt*/

.pic1{
        position: absolute;
    width: 9.5vw !important;
    height: auto !important;
    left: 15.8%;
    top: 11%;
}
.pic2{
       position: absolute;
    width: 9vw !important;
    height: auto !important;
    left: 58%;
    top: 11%;
}
.pic3{
   position: absolute;
    width: 12vw !important;
    height: auto !important;
    left: 63.5%;
    top: 36%;
}
.pic4{
       position: absolute;
    width: 9vw !important;
    height: auto !important;
    left: 56.5%;
    top: 54%;
}
.pic5{
       position: absolute;
    width: 9vw !important;
    height: auto !important;
    left: 19%;
    top: 54%;
}
.pic6{
       position: absolute;
    width: 13vw !important;
    height: auto !important;
    left: 4%;
    top: 35%;
}   

/*karina endd*/