
.dbfghsdf img {
    width: 100%;
    height: auto;
}

.sdfghdfgdf {
    width: 50%;
    float: left;
    padding: 70px;
}

.sdfghdfgdf h1 {
    color: #032D60;
    font-weight: bold;
}

.sdfghdfgdf p {
    color: #181818;
    font-size: 17px;
    font-weight: 500;
}

.btn125 {
    padding: 14px 40px;
    background-color: #0176D3;
    color: white;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid #0176D3;
    border-radius: 4px;
}

.btn126 {
    padding: 14px 40px;
    background-color: transparent;
    color: #0176D3;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid #0176D3;
    border-radius: 4px;
    margin-left: 10px;
}

.custom-container {
    width: 70%;
    margin: auto;
}

.fjhfdfgdfg {
    width: 100%;
    padding: 40px 0;
}

.dfgjhfgd {
    display: flex;
    width: 100%;
    height: 70vh;
    align-items: center;
    padding: 1rem 0 3rem 0;
}

.dfgjhfgd {
    width: 100%;
    height: 70vh;
    background-size: 100% 100%;
}

.sdfsdfsdf h2 {
    color: #032D60;
    font-size: 40px;
    font-weight: 600;
}

.sdfsdfsdf p {
    color: #181818;
    font-weight: 500;
    font-size: 18px;
}

.dfhbfgd {
    width: 100%;
    height: 450px;
}

.dfhbfgd img {
    width: 100%;
    height: 100%;
}

.dfbnhdfdf h2 {
    color: #032D60;
    font-size: 40px;
    font-weight: 600;
}

.dfbnhdfdf p {
    color: #181818;
    font-weight: 500;
    font-size: 17px;
}

.fgjhdfg .form-control {
    padding: 10px;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.fgjhdfg {
    margin-bottom: 20px;
}

.dfgbfdf button {
    padding: 14px 35px;
    color: white;
    background-color: #0176D3;
    border-radius: 4px;
    border: none;
    font-size: 17px;
    font-weight: 500;
}

.inieuirjndsirferer.collapse {
    justify-content: right;
}

.dfbghdfgdfgdf {
    width: 100%;
    padding: 40px 0;
}

.mgjhbdfg p {
    padding-bottom: 10px;
    color: #181818;
}

.mgjhbdfg a {
    color: #0176D3;
    font-weight: 500;
}

.dfbjhfdfgdf {
    width: 100%;
    padding: 40px 0;
}

.vgbfdf {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    border-radius: 1.4rem;
}

.custom-container10 {
    width: 75%;
    margin: auto;
}

.fbgdfgdfgdf h2 {
    color: #032D60;
    font-size: 40px;
    font-weight: 600;
}

.fbgdfgdfgdf p {
    color: #181818;
    font-size: 17px;
}

.fbgdfgdfgdf button {
    padding: 12px 30px;
    background-color: #0176D3;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 4px;
}

.dgndfgdfgdf {
    width: 100%;
    height: 350px;
}

.dgndfgdfgdf img {
    width: 100%;
    height: 100%;
}

.fdnbvgdfgdfgdf {
    margin-top: 40px;
}

.cfbvhdfgdf {
    width: 70%;
    margin: auto;
}

.cfbvhdfgdf h2 {
    color: #032D60;
    font-weight: bold;
    font-size: 40px;
}

.cfbvhdfgdf p {
    color: #181818;
    font-size: 17px;
}

.xnjhxffgdf {
    width: 100%;
}

.xnjhxffgdf img {
    width: 100%;
}

/*end new digital markeing design page  css*/



/*start affordable seo css*/
/*start affordable seo css*/
/*start affordable seo css*/
.gjhfgfgdfg {
    width: 100%;
    padding: 40px 0;
}

.gdfjkghdgsd {
    width: 100%;
    background-color: #143664;
    height: 450px;
    padding: 25px;
    border-radius: 4px;
}

.jhgdf {
    width: 100%;
    height: 2px;
    background-color: #40444E;
}

.gdfjkghdgsd h5 {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.gdfjkghdgsd p {
    color: white;
    font-size: 16px !important;
    width: 100%;
}

.gdfhgdfg {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #C35F16;
    text-align: center;
    line-height: 55px;
}

.gdfhgdfg i {
    text-align: center;
    color: white;
}

.ggdfgdfg {
    margin-left: -20px !important;
}

.ggdfgdfg h6 {
    color: white;
    font-size: 18px !important;
    font-weight: 600;
}

.ggdfgdfg p {
    color: #fff;
    font-size: 14px !important;
    width: 100%;
}

.drfghdfgfr {
    margin-top: 15px;
}

.dfjbfg .form-control {
    padding: 10px;
}

.dfjbfg {
    margin-bottom: 25px;
}

.dfjbfg button {
    padding: 14px 45px;
    background-color: #2D4A8A;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 4px;
}

.dfjhdfbgdfgdfg h2 {
    color: black;
    font-size: 40px;
    font-weight: 600;
    padding: 10px 0;
}

.njhfbg5654 {
    width: 65px;
    height: 65px;
    text-align: center;
    margin: auto;
    background-color: #d6f7f7;
    border-radius: 8px;
    margin-top: 40px;
}

.njhfbg5654 img {
    width: 100%;
    height: 100%;
    padding: 8px;
}

.gdfhbgdfgdfg h4 {
    color: #032D60;
    font-weight: 600;
    height: 75px;
    font-size: 24px;
}

.gdfhbgdfgdfg button {
    font-weight: 600;
    color: #032D60;
    text-decoration: underline;
    margin-top: 50px;
    border: none;
}

.container-grid {
    width: 80%;
    margin: auto;
}

.fjhjdfdfgdf {
    width: 100%;
    padding: 40px 0;
}

.gdfhbgdfgdfg {
    text-align: center;
    margin-top: 30px;
}

.gdfhbgdfgdfg h4 {
    color: #133662;
    font-size: 20px;
}

.dfdfdfg {
    padding: 15px;
    margin: 10px 20px;
    border-radius: 16px;
    border-bottom: 12px solid #E6A822;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.gdfhbgdfgdfg h4 {
    padding-top: 25px;
    font-size: 24px;
    color: #032D60 !important;
    font-weight: 600;
}

.sdmsdjhsds img {
    width: 100%;
    height: auto;
}

/*end affordable seo css*/
/*end affordable seo css*/



.doiewnirnewr_inner {
    border-radius: 1.4rem;
    background: no-repeat;
    background-size: cover;
    background-position: center;
}

.desonjfreuiwnr {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: var(--main-orange-border-color);
    padding: 1rem;
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.doiewnirnewr_inner h4 {
    color: var(--main-blue-color);
    font-weight: 600;
}

.idnwehrwer_overlay {
    background: rgba(255, 255, 255, 0.7);
}

.sddfgjoidfgkujoj {
    background: #fff;
}

@keyframes star {
    0% {
        opacity: 0;
        transform: translate(100px, 0);
    }

    25% {
        opacity: 0.8;
        transform: translate(75px, 25px);
    }

    75% {
        opacity: 0.9;
        transform: translate(25px, 75px);
    }

    100% {
        opacity: 0;
        transform: translate(0, 100px);
    }
}

.star {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 0;
    left: 0;
    background: rgba(195, 95, 22, 0.7);
    border-radius: 50%;
}

.star1 {
    animation: star 4s linear both infinite;
}

.star2 {
    width: 2px;
    height: 2px;
    left: 50px;
    animation: star 8s linear both infinite;
}

.star3 {
    background: rgba(195, 95, 22, 0.7);
    left: -50px;
    animation: star 1.5s linear 0.5s both infinite;
}

.star4 {
    width: 2px;
    height: 2px;
    left: -30px;
    background: rgba(195, 95, 22, 0.7);
    animation: star 3s linear 1s both infinite;
}

.star5 {
    left: 50px;
    background: rgba(195, 95, 22, 0.7);
    animation: star 3.5s linear 5s both infinite;
}

.star6 {
    width: 4px;
    height: 4px;
    left: -10px;
    background: rgba(195, 95, 22, 0.7);
    animation: star 6s linear 4.5s both infinite;
}

.star7 {
    width: 3px;
    height: 3px;
    left: 25px;
    background: rgba(195, 95, 22, 0.7);
    animation: star 2s linear 4.5s both infinite;
}

.star8 {
    width: 5px;
    height: 5px;
    opacity: 1;
    background: rgba(195, 95, 22, 0.7);
    left: 15px;
    animation: star 3s linear 6.5s both infinite;
}

.star9 {
    width: 4px;
    height: 4px;
    left: -33px;
    opacity: 1;
    background: rgba(195, 95, 22, 0.7);
    animation: star 1.6s linear 5s both infinite;
}

.star10 {
    width: 3px;
    height: 3px;
    left: -40px;
    opacity: 1;
    background: rgba(195, 95, 22, 0.7);
    animation: star 1.8s linear 4.5s both infinite;
}

.star13 {
    background: rgba(195, 95, 22, 0.7);
    left: -50px;
    animation: star 1.5s linear 4.2s both infinite;
}

.star14 {
    width: 2px;
    height: 2px;
    left: -30px;
    background: rgba(195, 95, 22, 0.7);
    animation: star 3s linear 5s both infinite;
}

@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        padding:20px !important;
        text-align: center;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
}



@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
}



@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}


@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}


@media only screen and (max-width:393px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
}



/*nisha startt*/

.pdspic1{
    position: absolute;
    width: 8vw !important;
    top: 2.5%;
    left:13%;
    animation: rotatep 4s;
}
.pdspic2{
    position: absolute;
    width: 8vw !important;
    top: 34%;
    left: 3%; 
    animation: zoomin 4s;             ;
}
.pdspic3{
    position: absolute;
    width: 8vw !important;
    bottom: 2%;
    left: 13%;
    animation: rotatep 4s;
}
.pdspic4{
    position: absolute;
    width: 8vw !important;
    top: 2.5%;
    right:12%;
    animation: rotaten 4s;
}
.pdspic5{
    position: absolute;
    width: 8vw !important;
    top: 34%;
    right: 2.5%;
    animation: zoomin 4s;
}
.pdspic6{
    position: absolute;
    width: 8vw !important;
    bottom: 2%;
    right: 12%;
    animation: rotaten 4s;
}
@keyframes rotatep {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes rotaten {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
@keyframes zoomin{
    0%{
        transform: scale(0.3);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/*nisha endd*/


/* Prerana css start */
.desonjfreuiwnr{
    position: relative;
}
.a1{
    position: absolute;
    height: 13vw !important;
    width: 12vw !important;
    top: 3%;
    left: 14%;
}
.a2{
    position: absolute;
    height: 11vw !important;
    width: 13vw !important;
    top: 8%;
    left: 36%;
}
.a3{
    position: absolute;
    height: 13.6vw !important;
    width: 11vw !important;
    top: 3%;
    right: 12%;
}
.a4{
    position: absolute;
    height: 8.5vw !important;
    width: 10vw !important;
    bottom: 15%;
    right: 12%;
}
.a5{
    position: absolute;
    height: 10vw !important;
    width: 10vw !important;
    bottom: 8%;
    left: 38%;
}
.a6{
    position: absolute;
    height: 8vw !important;
    width: 10.5vw !important;
    bottom: 15%;
    left: 18%;
}

/* Prerana css end */

/*  Nisha css start  */

.ppspic1{
    position: absolute;
    width: 9rem !important;
    top: 1.2%;
    left: 34.5%;
}
.ppspic2{
    position: absolute;
    width: 6rem !important;
    top: 15%;
    left: 8%;
}
.ppspic3{
    position: absolute;
    width: 5.5rem !important;
    top: 39%;
    left: 1.5%;
}
.ppspic4{
    position: absolute;
    width: 6rem !important;
    bottom: 22%;
    left: 3.5%;
}
.ppspic5{
    position: absolute;
    width: 5.5rem !important;
    top: 14.5%;
    right: 10%;
}
.ppspic6{
    position: absolute;
    width: 6rem !important;
    top: 39%;
    right: 2%;
}
.ppspic7{
    position: absolute;
    width: 5.5rem !important;
    bottom: 18%;
    right: 6.5%;
}


/* Nisha css end */ 
