    
/*start  new on page seo  css*/
/*start  new on page seo  css*/
/*start  new on page seo  css*/
.dfgjhfgd {
  display: flex;
  padding: 0 0 3rem 0;
}

.dbfghsdf img{
    width: 100%;
    height: auto;
    /* margin-top: 8%; */
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.sdfghdfgdf {
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 {
  color: var(--main-blue-color);
  font-weight: bold;
}
.sdfghdfgdf p {
  color: var(--medium-text-color);
}

.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}
.sdfsdfsdf p {
  color: var(--medium-text-color);
}

.ubnuiiuniewrr .oimihiewrwer h5 {
  color: #C35F16;
  text-transform: uppercase;
}
.ubnuiiuniewrr .ikfnmierhter > img {
  width: 100%;
  height: auto;
}
.ubnuiiuniewrr .idnwehrjwerwerwerwe_wrapper .iudnhwnuihewrr {
  border: 1px solid var(--border-color-light-grey);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ubnuiiuniewrr .idnwehrjwerwerwerwe_wrapper .iudnhwnuihewrr img {
  width: 3rem;
  height: 100%;
}
.ubnuiiuniewrr .idnwehrjwerwerwerwe_wrapper .iudnhwnuihewrr .iojnuihwqeqweqwe h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2854A1;
}

 .oimihiewrwer h2 
{
    color:#133664;
    font-weight:600;
    font-size:40px;
}

.fbgdfgdfgdf h2 {
  color: var(--main-blue-color);
  font-weight: 600;
}
.fbgdfgdfgdf p {
  color: var(--medium-text-color);
}
.fbgdfgdfgdf button {
  padding: 12px 30px;
  background-color: var(--button-main-blue-color);
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.dgndfgdfgdf img {
  width: 100%;
}
.fdnbvgdfgdfgdf {
  margin-top: 40px;
}
.cfbvhdfgdf {
  width: 70%;
  margin: auto;
}
.cfbvhdfgdf h2 {
  color: var(--main-blue-color);
  font-weight: bold;
  font-size: 40px;
}
.cfbvhdfgdf p {
  color: var(--medium-text-color);
}

.xnjhxffgdf {
  width: 100%;
}
.xnjhxffgdf img {
  width: 100%;
}

.img1{
    position: absolute;
    width: 9rem !important;
    bottom: 18%;
    right: 30%;
}

.img2{
    position: absolute;
    width: 7rem !important;
    bottom: 31%;
    left: 0%;
}

.img3{
    position: absolute;
    width: 9rem !important;
    bottom: 42%;
    right: 13%;
}

.img4{
    position: absolute;
    width: 9rem !important;
    top: 18%;
    left: 15%;
}

.img5{
    position: absolute;
    width: 10rem !important;
    top: 3%;
    right: 15%;
}


.dgndfgdfgdf{
    position: relative;
}


/* Karina css start */
.dkneiewmrreryty .pic1{
    position: absolute;
    width:15rem !important;
    bottom: 12%;
    right: 28%;
}
.dkneiewmrreryty .pic2{
    position: absolute;
    width:14rem !important;
    top: -4%;
    right: 29%;
}
.dkneiewmrreryty .pic3{
    position: absolute;
    width:15rem !important;
    bottom: 13%;
    left: 1%;
}
.dkneiewmrreryty .pic4{
    position: absolute;
    width:18rem !important;
    top: 0;
    left: -5%;
}
/* Karina css end */


/*end  new on page seo  css*/
/*end  new on page seo  css*/
/*end  new on page seo  css*/








@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        padding:20px !important;
        text-align: center;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
}



@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
}



@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}


@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}


@media only screen and (max-width:393px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
}

/* prerana css start */

.temppre .pic1{
    position:absolute;
    width: 26rem;
    bottom: 71%;
    left: 12%
}
.temppre .pic2{
    position:absolute;
    width: 26rem;
    bottom: 50%;
    left: 8%
}
.temppre .pic3{
    position:absolute;
    width: 26rem;
    bottom: 30%;
    left: 10%
}
.temppre .pic4{
    position:absolute;
    width: 22rem;
    bottom: 9%;
    left:7.7%
}
.temppre .pic5{
    position:absolute;
    width: 26rem;
    bottom: 75%;
    right:11%
}
.temppre .pic6{
    position:absolute;
    width: 26rem;
    bottom: 54%;
    right:6.1%
}
.temppre .pic7{
    position:absolute;
    width: 26rem;
    bottom: 30%;
    right:9%
}
.temppre .pic8{
    position:absolute;
    width: 26rem;
    bottom: 8%;
    right:2.5%
}

/* Prerana css end */



