/*start  Infographics Design Company css*/
/*start  Infographics Design Company css*/
/*start  Infographics Design Company css*/

.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  width: 50%;
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 { 
  color: var(--main-blue-color);
  font-weight: bold;
}
.sdfghdfgdf p {
  color: var(--medium-text-color);
}

.dfgjhfgd {
  display: flex;
  padding: 1rem 0 3rem 0;
}

.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}
.sdfsdfsdf p {
  color: var(--medium-text-color);
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}
.fghsdfgsdfgdfg {
  width: 100%;
  padding: 40px;
}

.fghsdfsdf {
  width: 100%;
  height: 200px;
}
.fghsdfsdf img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.dfbhdfdf6528 {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.fdfdfg h2 {
  color: #032D60;
}


.dfngjhdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.cfbgjhcfdf {
  width: 100%;
  /* height: 450px; */
}
.cfbgjhcfdf img {
  width: 100%;
  /* height: 100%; */
  border-radius: 8px;
}

.fgydfgdfg h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}

.fgydfgdfg button {
  padding: 12px 25px;
  border: 2px solid #032D60;
  border-radius: 25px;
  font-size: 17px;
}

.fdfdfg h4 {
  color: #032D60;
  font-weight: 600;
  padding-top:15px;
}

/*end  Infographics Design Company css*/
/*end  Infographics Design Company css*/


@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        padding:20px !important;
        text-align: center;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
}



@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
}



@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}


@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}


@media only screen and (max-width:393px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
}



/*karina start*/

.dbfghsdf{
    position:relative;
}
.img1{
   position: absolute;
    width: 19vw !important;
    height: auto !important;
    top: 16%;
    left: 6%;
    animation: popIn 3s;
}
@keyframes popIn {
  0% { transform: scale(0.5); opacity: 0; }
  80% { transform: scale(1.1); opacity: 1; }
  100% { transform: scale(1); }
}
.img2{
    position: absolute;
    width: 19vw !important;
    height: auto !important;
    top: 3.5%;
    left: 46%;
    animation: jello 3s;
}
@keyframes jello {
  0%, 100% { transform: skew(0deg, 0deg); }
  25% { transform: skew(10deg, 5deg); }
  50% { transform: skew(-10deg, -5deg); }
  75% { transform: skew(5deg, -10deg); }
  
}

.img3{
       position: absolute;
    width: 19vw !important;
    height: auto !important;
    top: 29%;
    left: 55.5%;
    animation: spinScale 3s ;
}
@keyframes spinScale {
  from { transform: rotate(0deg) scale(0.5); }
  to { transform: rotate(360deg) scale(1); }
}
.img4{
   position: absolute;
    width: 17vw !important;
    height: auto !important;
    bottom: 23%;
    right: 20%;
    animation: wave 3s ;
}
@keyframes wave {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}
.img5{
     position: absolute;
    width: 18vw !important;
    height: auto !important;
    bottom: 29%;
    left: 10%;
    animation: loadingDots 3s linear;
}
@keyframes loadingDots {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

/*karina end*/


/*karina startt*/

.pic1{
   position: absolute;
    width: 7vw !important;
    height: auto !important;
    left: 40%;
    top: 3%;
}
.pic2{
  position: absolute;
    width: 7vw !important;
    height: auto !important;
    left: 17%;
    top: 21%;
}
.pic3{
   position: absolute;
    width: 7vw !important;
    height: auto !important;
    left: 64%;
    top: 24%;
}
.pic4{
        position: absolute;
    width: 7vw !important;
    height: auto !important;
    left: 6%;
    top: 42%;
}
.pic5{
   position: absolute;
    width: 7vw !important;
    height: auto !important;
    left: 74%;
    top: 46%;
}

/*karina endd*/

/*karina starttttt*/

.dbfghsdf{
    position: relative;
}
.image1{
  position: absolute;
    width: 4vw !important;
    height: auto !important;
    left: 27%;
    top: 5%;
    animation: curtainDown 3s;
}
@keyframes curtainDown {
  from { clip-path: inset(0 0 100% 0); }
  to { clip-path: inset(0 0 0 0); }
}
.image2{
    position: absolute;
    width: 4vw !important;
    height: auto !important;
    right: 27%;
    top: 3%;
    animation: vibrate 3s;
}
@keyframes vibrate {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}
.image3{
position: absolute;
    width: 5vw !important;
    height: auto !important;
    left: 75%;
    top: 10%;
    animation:spinIn3D 3s;
}
@keyframes spinIn3D {
  from { transform: rotateX(-180deg); opacity: 0; }
  to { transform: rotateX(0deg); opacity: 1; }
}
.image4{
       position: absolute;
    width: 4vw !important;
    height: auto !important;
    left: 77%;
    top: 32%;
    animation: pendulum 3s;
}
@keyframes pendulum {
  0% { transform: rotate(20deg); }
  50% { transform: rotate(-20deg); }
  100% { transform: rotate(40deg); }
}
.image5{
        position: absolute;
    width: 7vw !important;
    height: auto !important;
    left: 75%;
    top: 51%;
    animation: drift 3s;
}
@keyframes drift {
  0% { transform: translateX(0); }
  100% { transform: translateX(50px); }
}
.image6{
    position: absolute;
    width: 5vw !important;
    height: auto !important;
    right: 26%;
    bottom: 24%;
    animation: zoomBounce 3s;
}
@keyframes zoomBounce {
  0% { transform: scale(0.3); opacity: 0; }
  50% { transform: scale(1.2); opacity: 1; }
  70% { transform: scale(0.9); }
  100% { transform: scale(1); }
}
.image7{
    position: absolute;
    width: 4vw !important;
    height: auto !important;
    left: 34%;
    bottom: 24%;
    animation: rollOut 3s;
}
@keyframes rollOut {
  from { transform: translateX(0) rotate(0deg); opacity: 0; }
  to { transform: translateX(100%) rotate(120deg); opacity: 1; }
}
.image8{
    position: absolute;
    width: 4vw !important;
    height: auto !important;
    left: 17%;
    bottom: 30%;
    animation: ripple 3s;
}
@keyframes ripple {
  0% { transform: scale(0.5); opacity: 1; }
  100% { transform: scale(2); opacity: 0; }
}
.image9{
   position: absolute;
    width: 4vw !important;
    height: auto !important;
    left: 12%;
    top: 35%;
    animation: swingInTop 3s;
}
@keyframes swingInTop {
  0% { transform: translateY(-100%) rotate(-15deg); opacity: 0; }
  100% { transform: translateY(0) rotate(0deg); opacity: 1; }
}
.image10{
    position: absolute;
    width: 4vw !important;
    height: auto !important;
    left: 12%;
    top: 16%;
    animation:expand 3s;
}
    @keyframes expand {
  from { transform: scaleY(0); opacity: 0; }
  to { transform: scaleY(1); opacity: 1; }
}

/*karina enddddd*/