.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  width: 50%;
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 { 
  color: var(--main-blue-color);
  font-weight: bold;
}
.sdfghdfgdf p {
  color: var(--medium-text-color);
}

.dfgjhfgd {
  display: flex;
  padding: 1rem 0 3rem 0;
}

.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}
.sdfsdfsdf p {
  color: var(--medium-text-color);
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  width: 50%;
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 {
  color: #032D60;
  font-weight: bold;
}
.sdfghdfgdf p {
  color: #181818;
  font-size: 17px;
  font-weight: 500;
}

.custom-container {
  width: 70%;
  margin: auto;
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfgjhfgd {
  display: flex;
  width: 100%;
  height: 70vh;
  align-items: center;
  padding: 1rem 0 3rem 0;
}

.dfgjhfgd
{
  width: 100%;
  height: 70vh;
  background-size: 100% 100%;
}

.sdfsdfsdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.sdfsdfsdf p {
  color: #181818;
  font-weight: 500;
  font-size: 18px;
}

.dfhbfgd {
  width: 100%;
  height: 450px;
}
.dfhbfgd img {
  width: 100%;
  height: 100%;
}

.dfbnhdfdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.dfbnhdfdf p {
  color: #181818;
  font-weight: 500;
  font-size: 17px;
}

.fgjhdfg .form-control {
  padding: 10px;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.fgjhdfg {
  margin-bottom: 20px;
}

.dfgbfdf button {
  padding: 14px 35px;
  color: white;
  background-color: #0176D3;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  font-weight: 500;
}

.inieuirjndsirferer.collapse {
    justify-content: right;
}

.dfbghdfgdfgdf {
  width: 100%;
  padding: 40px 0;
}

.mgjhbdfg p {
  padding-bottom: 10px;
  color: #181818;
}

.mgjhbdfg a {
  color: #0176D3;
  font-weight: 500;
}

.dfbjhfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.vgbfdf {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  border-radius: 1.4rem;
}

.custom-container10 {
  width: 75%;
  margin: auto;
}

.fbgdfgdfgdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.fbgdfgdfgdf p {
  color: #181818;
  font-size: 17px;
}
.fbgdfgdfgdf button {
  padding: 12px 30px;
  background-color: #0176D3;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.dgndfgdfgdf {
  width: 100%;
  height: 350px;
}
.dgndfgdfgdf img {
  width: 100%;
  height: 100%;
}

.fdnbvgdfgdfgdf {
  margin-top: 40px;
}

.cfbvhdfgdf {
  width: 70%;
  margin: auto;
}
.cfbvhdfgdf h2 {
  color: #032D60;
  font-weight: bold;
  font-size: 40px;
}
.cfbvhdfgdf p {
  color: #181818;
  font-size: 17px;
}

.xnjhxffgdf {
  width: 100%;
}
.xnjhxffgdf img {
  width: 100%;
}

.gjhfgfgdfg {
  width: 100%;
  padding: 40px 0;
}

.gdfjkghdgsd {
  width: 100%;
  background-color: #143664;
  height: 450px;
  padding: 25px;
  border-radius: 4px;
}

.jhgdf {
  width: 100%;
  height: 2px;
  background-color: #40444E;
}

.gdfjkghdgsd h5 {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.gdfjkghdgsd p {
  color: white;
  font-size: 16px !important;
  width: 100%;
}

.gdfhgdfg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #C35F16;
  text-align: center;
  line-height: 55px;
}

.gdfhgdfg i {
  text-align: center;
  color: white;
}

.ggdfgdfg {
  margin-left: -20px !important;
}

.ggdfgdfg h6 {
  color: white;
  font-size: 18px !important;
  font-weight: 600;
}

.ggdfgdfg p {
  color: #fff;
  font-size: 14px !important;
  width: 100%;
}

.drfghdfgfr {
  margin-top: 15px;
}

.dfjbfg .form-control {
  padding: 10px;
}

.dfjbfg {
  margin-bottom: 25px;
}

.dfjbfg button {
  padding: 14px 45px;
  background-color: #2D4A8A;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 4px;
}

.dfjhdfbgdfgdfg h2 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 0;
}

.njhfbg5654 {
  width: 65px;
  height: 65px;
  text-align: center;
  margin: auto;
  background-color: #d6f7f7;
  border-radius: 8px;
  margin-top: 40px;
}
.njhfbg5654 img {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.gdfhbgdfgdfg h4 {
  color: #032D60;
  font-weight: 600;
  height: 75px;
  font-size: 24px;
}
.gdfhbgdfgdfg button {
  font-weight: 600;
  color: #032D60;
  text-decoration: underline;
  margin-top: 50px;
  border: none;
}

.container-grid {
  width: 80%;
  margin: auto;
}

.fjhjdfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.gdfhbgdfgdfg {
  text-align: center;
  margin-top: 30px;
}
.gdfhbgdfgdfg h4 {
  color: #133662;
  font-size: 20px;
}

.dfdfdfg {
  padding: 15px;
  margin: 10px 20px;
  border-radius: 16px;
  border-bottom: 12px solid #E6A822;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.gdfhbgdfgdfg h4 {
  padding-top: 25px;
  font-size: 24px;
  color: #032D60 !important;
  font-weight: 600;
}

.sdmsdjhsds img {
  width: 100%;
  height: auto;
}

.odnjewhiewrewr img{
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    background: var(--button-main-blue-color);
    border-radius: 10px;
}

.dojiewojeir_right h3{
    font-weight: 600;
    color: var(--main-blue-color);
}

.odnjewhiewrewr{
    border-radius: 1.2rem;
    border-left: 2px solid #fff;
}

.inikninkeuiwr h4{
    font-weight: 600;
    font-size: 1.4rem !important;
}

.odnjewhiewrewr.active{
    border-left: 2px solid var(--button-main-blue-color);
}



@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        padding:20px !important;
        text-align: center;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
}



@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
}



@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}


@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}


@media only screen and (max-width:393px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
}

/*karina startt*/

.dbfghsdf{
  position:relative;
}
.img1{
      position: absolute;
    width: 7vw !important;
    height: auto !important;
    left: 20%;
    top: 9%;
    animation: blink 3s linear;
}
@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
.img2{
    position: absolute;
    width: 7vw !important;
    height: auto !important;
    left: 67%;
    top: 7%;
    animation: flipIn 3s linear ;
}
@keyframes flipIn {
  from { transform: rotateX(90deg); opacity: 0; }
  to { transform: rotateX(0deg); opacity: 1; }
}
.img3{
      position: absolute;
    width: 7vw !important;
    height: auto !important;
    left: 68%;
    top: 35%;
    animation: spinScale 3s linear;
}
@keyframes spinScale {
  from { transform: rotate(0deg) scale(0.5); }
  to { transform: rotate(360deg) scale(1); }
}


.img4{
     position: absolute;
    width: 7vw !important;
    height: auto !important;
    left: 68%;
    top: 65%;
    animation:fadeInBlur 3s linear;
}
@keyframes fadeInBlur {
  from { opacity: 0; filter: blur(10px); }
  to { opacity: 1; filter: blur(0); }
}

.img5{
   position: absolute;
    width: 6.5vw !important;
    height: auto !important;
    left: 44%;
    top: 63%;
    animation: shakeVertical 3s linear;
}
@keyframes shakeVertical {
  0%, 100% { transform: translateY(0); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(5px); }
  75% { transform: translateY(-5px); }
}
.img6{
     position: absolute;
    width: 7vw !important;
    height: auto !important;
    left: 19%;
    top: 65%;
    animation: jello 3s linear;
}
@keyframes jello {
  0%, 100% { transform: skew(0deg, 0deg); }
  25% { transform: skew(10deg, 5deg); }
  50% { transform: skew(-10deg, -5deg); }
  75% { transform: skew(5deg, -10deg); }
}
.img7{
        position: absolute;
    width: 7vw !important;
    height: auto !important;
    left: 16%;
    top: 34%;
    animation: slideInUp 3s linear;
}
@keyframes slideInUp {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/*karina endd*/



/*prerana start*/

.sdmsdjhsds img {
  width: 100%;
  height: auto;
}
.sdmsdjhsds{
  position: relative;
}
.m1{
  position: absolute;
    height: 11vw !important;
    width: 15vw !important;
    top: 5.8vw;
    right: 77.8vw;
}
.m2{
 position: absolute;
    height: 10vw !important;
    width: 12vw !important;
    top: 21vw;
    right: 80.8vw;
}
.m3{
  position: absolute;
    height: 9vw !important;
    width: 14vw !important;
    top: 8.6vw;
    right: 6.8vw;
}
.m4{
  position: absolute;
    height: 9vw !important;
    width: 15vw !important;
    top: 21vw;
    right: 5.4vw;
}

.book_cover {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ibnjenjkwherr img{
  position: absolute;
  width: 14vw;
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

.left_cover img,
.right_cover img {
  opacity: 0;
  transition: all 1s ease;
}

.left_cover img{  
  top: 55%;
  left: 43%;
  transform-origin: right center;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 999;
}

.right_cover img{
  top: 55.5%;
  right: 28.9%;
  transform-origin: left center;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 999;
}

.openBook .left_cover img {
  transform: translate(-50%, -50%) rotate(0);
  opacity: 1;
}

.openBook .right_cover img {
  transform: translate(-50%, -50%) rotate(0);
  opacity: 1;
}

.leftOpen img {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0);
}

.rightOpen img {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0);
}

.oijmdiewrer img {
  position: absolute;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: bottom center;
  mix-blend-mode: screen;
}

.dfsfgerrt{
  width: 5vw !important;
  top: 39%;
  left: 49%;
  transform: translate(-50%, -50%) scaleY(0);
}

.sadasddsw{
  width: 3vw !important;
  top: 31%;
  left: 51%;
  transform: translate(-50%, -50%) scaleY(0);
}

.egttertt{
  width: 5.5vw !important;
  top: 42%;
  left: 51.5%;
  transform: translate(-50%, -50%) scaleY(0);
}

@keyframes flameRise {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scaleY(0.2);
    filter: hue-rotate(0deg) brightness(1);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -60%) scaleY(1.1);
    filter: hue-rotate(-15deg) brightness(1.2);
  }
  100% {
    opacity: 0.8;
    transform: translate(-50%, -55%) scaleY(0.8);
    filter: hue-rotate(20deg) brightness(0.9);
  }
}

/* Flames ignite one by one after book opens */
.openBook .dfsfgerrt {
  animation: flameRise 1.2s ease-in-out infinite alternate;
  animation-delay: 1s; /* flame1 first */
}

.openBook .sadasddsw {
  animation: flameRise 1.3s ease-in-out infinite alternate;
  animation-delay: 2s; /* flame2 second */
}

.openBook .egttertt {
  animation: flameRise 1.5s ease-in-out infinite alternate;
  animation-delay: 2.2s; /* flame3 last */
}


.fjhfdfgdfg {
  position: relative;
}
.ol1{
    position: absolute;
    height: 8vw !important;
    width: 7.8vw !important;
    top: 14vw;
    right: 13.8vw;
    animation: spin 5s infinite;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ol2{
  position: absolute;
    height: 6vw !important;
    width: 7vw !important;
    top: -.1vw;
    right: 14.5vw;
     animation: fade 5s infinite;
}
@keyframes fade {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.ol3{
  position: absolute;
    height: 7vw !important;
    width: 9vw !important;
    top: 3vw;
    right: .8vw;
   animation: wave 4s ease-in-out infinite;
}
@keyframes wave {
  0%, 100% { transform: translateY(0) rotate(0deg); }
  25% { transform: translateY(-10px) rotate(-5deg); }
  50% { transform: translateY(0) rotate(5deg); }
  75% { transform: translateY(10px) rotate(-3deg); }
}
.ol4{
  position: absolute;
    height: 8vw !important;
    width: 10vw !important;
    top: 11.6vw;
    right: -1vw;
    animation: blink 2s ease-in-out infinite;
}
@keyframes blink{
  0%,100% {
    filter:drop-shadow(0 0 0px);}
  50%{
       filter:drop-shadow(0 0 10px);
    }
}
.ol5{
 position: absolute;
    height: 8vw !important;
    width: 9vw !important;
    top: 11.5vw;
    right: 25.6vw;
    animation: bounce 5s infinite;
}
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}
.ol6{
 position: absolute;
    height: 7vw !important;
    width: 8vw !important;
    top: 2.8vw;
    right: 26vw;
    animation: jelly 5s infinite;
}
@keyframes jelly {
  0%,100% { transform: scale(1, 1); }
  25% { transform: scale(1.2, 0.8); }
  50% { transform: scale(0.8, 1.2); }
  75% { transform: scale(1.1, 0.9); }
}

/*prerana end*/

