.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  width: 50%;
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 { 
  color: var(--main-blue-color);
  font-weight: bold;
}
.sdfghdfgdf p {
  color: var(--medium-text-color);
}

.dfgjhfgd {
  display: flex;
  padding: 1rem 0 3rem 0;
}

.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}
.sdfsdfsdf p {
  color: var(--medium-text-color);
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  width: 50%;
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 {
  color: var(--main-blue-color);
  font-weight: bold;
}
.sdfghdfgdf p {
  color: var(--medium-text-color);
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfgjhfgd {
  display: flex;
  align-items: center;
  padding: 1rem 0 3rem 0;
}

.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}
.sdfsdfsdf p {
  color: var(--medium-text-color);
}

.dfhbfgd {
  width: 100%;
  height: 450px;
}
.dfhbfgd img {
  width: 100%;
  height: 100%;
}

.dfbnhdfdf h2 {
  color: var(--main-blue-color);
  font-size: 40px;
  font-weight: 600;
}
.dfbnhdfdf p {
  color: var(--medium-text-color);
}

.fgjhdfg .form-control {
  padding: 10px;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.fgjhdfg {
  margin-bottom: 20px;
}

.dfgbfdf button {
  padding: 14px 35px;
  color: white;
  background-color: var(--button-main-blue-color);
  border-radius: 4px;
  border: none;
  font-size: 17px;
  font-weight: 500;
}

.inieuirjndsirferer.collapse {
    justify-content: right;
}

.dfbghdfgdfgdf {
  width: 100%;
  padding: 40px 0;
}

.mgjhbdfg p {
  padding-bottom: 10px;
  color: var(--medium-text-color);
}

.mgjhbdfg a {
  color: var(--button-main-blue-color);
  font-weight: 500;
}

.vgbfdf {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  border-radius: 1.4rem;
}

.custom-container {
  width: 75%;
  margin: auto;
}

.fbgdfgdfgdf button {
  padding: 12px 30px;
  background-color: var(--button-main-blue-color);
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}
.dgndfgdfgdf img {
  width: 100%;
}

.fdnbvgdfgdfgdf {
  margin-top: 40px;
}

.cfbvhdfgdf {
  width: 70%;
  margin: auto;
}
.cfbvhdfgdf h2 {
  color: var(--main-blue-color);
  font-weight: bold;
  font-size: 40px;
}
.cfbvhdfgdf p {
  color: var(--medium-text-color);
}

.xnjhxffgdf {
  width: 100%;
}
.xnjhxffgdf img {
  width: 100%;
}

.sfmlkdfdff h2{
    color: var(--main-blue-color);
}

.odijweirwerr_right h2{
    color: var(--main-blue-color);
}

.dienwm_iuemrer h2{
    position: relative;
}

.dienwm_iuemrer h2:before{
    position: absolute;
    content: "";
    width: 5rem;
    height: 0.4rem;
    border-radius: 5px;
    background: linear-gradient(to right, #FE621F, #8C4AC8);
    top: -0.7rem;
    left: 0;
}

.dokenwmkjrwer{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: #F8943D;
}

.dokenwmkjrwer img{
    width: 120%;
    height: auto;
}

.dienwm_iuemrer h2{
    color: var(--main-blue-color);
}

.dienwm_iuemrer p{
    line-height: 1.8;
}

.duiewmjroiweorrr h4{
    color: var(--main-blue-color);
    font-weight: 600;
}

.oidmnewr_left img,
.oidmnewr_right img{
    width: 5rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        padding:20px !important;
        text-align: center;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
}



@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
}



@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}


@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}


@media only screen and (max-width:393px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
}




.hdfgffdfsd1 img
{
  width: 90px;
  height: 110px;
  margin-top: -55%;
  /* margin-left: 15%; */
}

.hdfgffdfsd2 img
{
  width: 90px;
  height: 110px;
  margin-top: -61%;
  margin-left: 15%;


}


.hdfgffdfsd3 img
{
  width: 90px;
  height: 110px;
  margin-top: -66%;
  margin-left: 30%;


}
/* Slide from Top to Bottom */
.hdfgffdfsd1 img,
.hdfgffdfsd3 img {
  animation: slideFromTop 2s ease forwards;
}

/* Slide from Bottom to Top */
.hdfgffdfsd2 img {
  animation: slideFromBottom 2s ease forwards;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.sddfsdfdd54a img
{
  width: 160px;
  height: 130px;
  margin-top: -650px;
}

.sddfsdfdd54aa img
{
   width: 160px;
  height: 130px;
  margin-top: -580px;
  margin-left: 240px;

}

.sddfsdfdd54aaa img
{
  width: 160px;
  height: 130px;
  margin-top: -390px;

}


.sddfsdfdd54aaaa img
{
  width: 160px;
  height: 120px;
  margin-left: 240px;
  margin-top: -330px;


}

/* Initial hidden state */
.left-slide, .right-slide {
    opacity: 0;
    transform: translateX(0);
    transition: all 0.8s ease-out;
}

.left-slide {
    transform: translateX(-100px);
}

.right-slide {
    transform: translateX(100px);
}

/* Active state when in view */
.show {
    opacity: 1;
    transform: translateX(0);
}



