.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  width: 50%;
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 { 
  color: var(--main-blue-color);
  font-weight: bold;
}
.sdfghdfgdf p {
  color: var(--medium-text-color);
}
 
.dfgjhfgd {
  display: flex;
  padding: 1rem 0 3rem 0;
}

.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}
.sdfsdfsdf p {
  color: var(--medium-text-color);
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dbfghsdf img{
        width: 100%;
        height: auto;
    }
    .sdfghdfgdf {
      width: 50%;
      float: left;
      padding: 70px;
    }
    .sdfghdfgdf h1 {
      color: #032D60;
      font-weight: bold;
    }
    .sdfghdfgdf p {
      color: #181818;
      font-size: 17px;
      font-weight: 500;
    }
    
    .btn125 {
      padding: 14px 40px;
      background-color: #0176D3;
      color: white;
      font-size: 17px;
      font-weight: 600;
      border: 2px solid #0176D3;
      border-radius: 4px;
    }
    
    .btn126 {
      padding: 14px 40px;
      background-color: transparent;
      color: #0176D3;
      font-size: 17px;
      font-weight: 600;
      border: 2px solid #0176D3;
      border-radius: 4px;
      margin-left: 10px;
    }
    
    .custom-container {
      width: 70%;
      margin: auto;
    }
    
    .fjhfdfgdfg {
      width: 100%;
      padding: 40px 0;
    }
    
    .dfgjhfgd {
      display: flex;
      width: 100%;
      height: 70vh;
      align-items: center;
      padding: 1rem 0 3rem 0;
    }
    
    .dfgjhfgd
    {
      width: 100%;
      height: 70vh;
      background-size: 100% 100%;
    }
    
    .sdfsdfsdf h2 {
      color: #032D60;
      font-size: 40px;
      font-weight: 600;
    }
    .sdfsdfsdf p {
      color: #181818;
      font-weight: 500;
      font-size: 18px;
    }
    
    .dfhbfgd {
      width: 100%;
      height: 450px;
    }
    .dfhbfgd img {
      width: 100%;
      height: 100%;
    }
    
    .dfbnhdfdf h2 {
      color: #032D60;
      font-size: 40px;
      font-weight: 600;
    }
    .dfbnhdfdf p {
      color: #181818;
      font-weight: 500;
      font-size: 17px;
    }
    
    .fgjhdfg .form-control {
      padding: 10px;
      border: none !important;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
    
    .fgjhdfg {
      margin-bottom: 20px;
    }
    
    .dfgbfdf button {
      padding: 14px 35px;
      color: white;
      background-color: #0176D3;
      border-radius: 4px;
      border: none;
      font-size: 17px;
      font-weight: 500;
    }
    
    .inieuirjndsirferer.collapse {
        justify-content: right;
    }
    
    .dfbghdfgdfgdf {
      width: 100%;
      padding: 40px 0;
    }
    
    .mgjhbdfg p {
      padding-bottom: 10px;
      color: #181818;
    }
    
    .mgjhbdfg a {
      color: #0176D3;
      font-weight: 500;
    }
    
    .dfbjhfdfgdf {
      width: 100%;
      padding: 40px 0;
    }
    
    .vgbfdf {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 30px;
      border-radius: 1.4rem;
    }
    
    .custom-container10 {
      width: 75%;
      margin: auto;
    }
    
    .fbgdfgdfgdf h2 {
      color: #032D60;
      font-size: 40px;
      font-weight: 600;
    }
    .fbgdfgdfgdf p {
      color: #181818;
      font-size: 17px;
    }
    .fbgdfgdfgdf button {
      padding: 12px 30px;
      background-color: #0176D3;
      color: white;
      font-size: 17px;
      border: none;
      border-radius: 4px;
    }
    
    .dgndfgdfgdf {
      width: 100%;
      height: 350px;
    }
    .dgndfgdfgdf img {
      width: 100%;
      height: 100%;
    }
    
    .fdnbvgdfgdfgdf {
      margin-top: 40px;
    }
    
    .cfbvhdfgdf {
      width: 70%;
      margin: auto;
    }
    .cfbvhdfgdf h2 {
      color: #032D60;
      font-weight: bold;
      font-size: 40px;
    }
    .cfbvhdfgdf p {
      color: #181818;
      font-size: 17px;
    }
    
    .xnjhxffgdf {
      width: 100%;
    }
    .xnjhxffgdf img {
      width: 100%;
    }
    
    .gjhfgfgdfg {
      width: 100%;
      padding: 40px 0;
    }
    
    .gdfjkghdgsd {
      width: 100%;
      background-color: #143664;
      height: 450px;
      padding: 25px;
      border-radius: 4px;
    }
    
    .jhgdf {
      width: 100%;
      height: 2px;
      background-color: #40444E;
    }
    
    .gdfjkghdgsd h5 {
      color: white;
      font-size: 25px;
      font-weight: 600;
    }
    
    .gdfjkghdgsd p {
      color: white;
      font-size: 16px !important;
      width: 100%;
    }
    
    .gdfhgdfg {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-color: #C35F16;
      text-align: center;
      line-height: 55px;
    }
    
    .gdfhgdfg i {
      text-align: center;
      color: white;
    }
    
    .ggdfgdfg {
      margin-left: -20px !important;
    }
    
    .ggdfgdfg h6 {
      color: white;
      font-size: 18px !important;
      font-weight: 600;
    }
    
    .ggdfgdfg p {
      color: #fff;
      font-size: 14px !important;
      width: 100%;
    }
    
    .drfghdfgfr {
      margin-top: 15px;
    }
    
    .dfjbfg .form-control {
      padding: 10px;
    }
    
    .dfjbfg {
      margin-bottom: 25px;
    }
    
    .dfjbfg button {
      padding: 14px 45px;
      background-color: #2D4A8A;
      border: none;
      color: white;
      font-size: 18px;
      border-radius: 4px;
    }
    
    .dfjhdfbgdfgdfg h2 {
      color: black;
      font-size: 40px;
      font-weight: 600;
      padding: 10px 0;
    }
    
    .njhfbg5654 {
      width: 65px;
      height: 65px;
      text-align: center;
      margin: auto;
      background-color: #d6f7f7;
      border-radius: 8px;
      margin-top: 40px;
    }
    .njhfbg5654 img {
      width: 100%;
      height: 100%;
      padding: 8px;
    }
    
    .gdfhbgdfgdfg h4 {
      color: #032D60;
      font-weight: 600;
      height: 75px;
      font-size: 24px;
    }
    .gdfhbgdfgdfg button {
      font-weight: 600;
      color: #032D60;
      text-decoration: underline;
      margin-top: 50px;
      border: none;
    }
    
    .container-grid {
      width: 80%;
      margin: auto;
    }
    
    .fjhjdfdfgdf {
      width: 100%;
      padding: 40px 0;
    }
    
    .gdfhbgdfgdfg {
      text-align: center;
      margin-top: 30px;
    }
    .gdfhbgdfgdfg h4 {
      color: #133662;
      font-size: 20px;
    }
    
    .dfdfdfg {
      padding: 15px;
      margin: 10px 20px;
      border-radius: 16px;
      border-bottom: 12px solid #E6A822;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    
    .gdfhbgdfgdfg h4 {
      padding-top: 25px;
      font-size: 24px;
      color: #032D60 !important;
      font-weight: 600;
    }
    
    .sdmsdjhsds img {
      width: 100%;
      height: auto;
    }

.duienwuriew_inner{
    background: #f6dfba;
    border-radius: 1.8rem;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.oioinmewrrr{
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.duienwuriew_inner img{
    transition: 0.3s ease-in-out;
}

.duienwuriew_inner:hover img{
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    position: absolute;
}

.duienwuriew_inner:hover .oioinmewrrr{
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in-out;
    position: relative !important;
}

.sdvdfgevtefr{
    background: #f6dfba;
}

.sdvfgterfgvt{
    background: #eaeffd;
}

.cddgbgfreeqe{
    background: #d7e4cf;
}

.dsfgfyherrtt{
    background: #f2e0d3;
}

.sadfvfrthrrer{
    background: #d3e4f2;
}

.duienwuriew_inner h4{
    font-size: 1.2rem !important;
    font-weight: 600;
}

.duienwuriew_inner h2,
.duienwuriew_inner h4{
    color: var(--main-blue-color);
}

.duienwuriew_inner {
  background: #f6dfba;
  border-radius: 1.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.sdvdfgevtefr {
    background: #f6dfba;
}

.duienwuriew_inner h2, .duienwuriew_inner h4 {
    color: var(--main-blue-color);
}

.duienwuriew_inner img, .oioinmewrrr {
    transition: .3s ease-in-out;
}

.sdvfgterfgvt {
    background: #eaeffd;
}

.cddgbgfreeqe {
    background: #d7e4cf;
}

.dsfgfyherrtt {
    background: #f2e0d3;
}

.sadfvfrthrrer {
    background: #d3e4f2;
}





@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        padding:20px !important;
        text-align: center;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
}



@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
}



@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}


@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}


@media only screen and (max-width:393px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
}


/*karina start*/

.sdvdfgevtefr{
  position:relative;
}
.img1{
    position: absolute;
    width: 11vw !important;
    height: auto !important;
    top: 40%;
    left: 0%;
    animation: wavefloat 4s infinite ;
  }
    @keyframes wavefloat{
  0%{
    transform: translate(-50px,50px) scale(0.5);
    opacity: 0;
  }
  100%{
    transform: translate(0,0) scale(1);
    opacity: 1;
  }
}

.img2{
    position: absolute;
    width: 11vw !important;
    height: auto !important;
    top: 39%;
    left: 67%;
    animation:popbounce 3s infinite;
}
@keyframes popbounce{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    70%{
        transform: scale(1.1);
        opacity: 1;
    }
    100%{
        transform: scale(1);
    }
}
.img3{
    position: absolute;
    width: 10vw !important;
    height: auto !important;
    top: 58%;
    left: 75%;
    animation:swingrotate 3.5s infinite ;
}
@keyframes swingrotate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.img4{
    position: absolute;
    width: 10vw !important;
    height: auto !important;
    top: 82%;
    left: 76%;
    animation: wavefloat 4s infinite ;
}
.img5{
    position: absolute;
    width: 9vw !important;
    height: auto !important;
    top: 81%;
    left: 0%;
    animation:popbounce 3s infinite;

}
.img6{
    position: absolute;
    width: 11vw !important;
    height: auto !important;
    top: 59%;
    left: 0%;
    animation:swingrotate 3.5s infinite ;
}

/*karina end*/

/* Prerana css start */
.dbfghsdf{
    position:relative;
  }
  .le1{
   position: absolute;
    height: 7.2vw !important;
    width: 10.8vw !important;
    top: 5.3vw;
    right: 34.8vw;
     animation: wavefloat 4s infinite;
    
}
@keyframes wavefloat{
  0%{
    transform: translate(-10px,20px) scale(0.5);
    opacity: 0;
  }
  100%{
    transform: translate(0,0) scale(1);
    opacity: 1;
  }
}
.le2{
   position: absolute;
    height: 7vw !important;
    width: 9vw !important;
    top: -0.4vw;
    right: 20vw;
    animation: blink 3s infinite;
}
@keyframes blink{
  0%,100% {
    filter:drop-shadow(0 0 0px);}
  50%{
       filter:drop-shadow(0 0 10px);
    }
}
.le3{
    position: absolute;
    height: 9vw !important;
    width: 9vw !important;
    top: 3.6vw;
    right: 4vw;
    animation: sc 3s infinite;
}
@keyframes sc{
    0%{
        transform: scale(0) rotate(-360deg);
        opacity: 0;
    }
    100%{
        transform: scale(1) rotate(0);
        opacity: 1;
    }
}
.le4{
    position: absolute;
    height: 7vw !important;
    width: 11vw !important;
    top: 18vw;
    right: 7vw;
    animation: wave 4s infinite;
  }
  @keyframes wave{
  0%{
    transform: translate(-10px,20px) scale(0.5);
    opacity: 0;
  }
  100%{
    transform: translate(0,0) scale(1);
    opacity: 1;
  }
}
  .le5{
    position: absolute;
    height: 8vw !important;
    width: 9vw !important;
    top: 19.7vw;
    right: 33vw;
    animation: blink 3.5s infinite;
}
@keyframes blink{
  0%,100% {
    filter:drop-shadow(0 0 0px);}
  50%{
       filter:drop-shadow(0 0 10px);
    }
}
/* Prerana css end */