.dbfghsdf img {
  width: 100%;
  height: auto;
}

.sdfghdfgdf {
  width: 50%;
  float: left;
  padding: 70px;
}

.sdfghdfgdf h1 {
  color: var(--main-blue-color);
  font-weight: bold;
}

.sdfghdfgdf p {
  color: var(--medium-text-color);
}

.dfgjhfgd {
  display: flex;
  padding: 1rem 0 3rem 0;
}

.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}

.sdfsdfsdf p {
  color: var(--medium-text-color);
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.fhfgjhsdfgsdfg {
  width: 100%;
  padding: 40px 0;
}

.fgdfjg {
  width: 45px;
  height: 6px;
  background-color: #143664;
}

.fgdfjg2 {
  width: 25px;
  height: 6px;
  background-color: #C35F16;
}

.fhgdfg h2 {
  font-size: 40px;
  font-weight: 600;
  padding: 10px 0;
  color: #032D60;
}

.fhgdfg p {
  font-size: 18px;
}

.gnfjkg img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.nbgdfgdf h5 {
  font-size: 20px;
  color: #143664;
  font-weight: 600;
}

.nbgdfgdf p {
  font-size: 18px;
}

.nbgdfgdf button {
  border: none;
  background: transparent;
  font-weight: 600;
  color: #143664;
}

.nbgdfgdf i {
  transform: rotate(-45deg);
}

.fbgfjhg {
  margin-bottom: 25px;
}

.dsfbsdf button {
  padding: 16px 35px;
  border: none;
  border-radius: 4px;
  background-color: #143664;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}

.jkdfhgjhsdgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfgjhdfg {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 30px 20px;
  border-radius: 8px;
  margin: 10px;
}

.fbsdf {
  width: 65px;
  height: 65px;
}

.fbsdf img {
  width: 100%;
  height: 100%;
}

.ghbdfgdf p {
  font-size: 17px;
}

.fnbgf {
  width: 100%;
  height: 1px;
  background-color: #143664;
  margin-top: 40px;
  margin-bottom: 40px;
}

.sdbngsdfg {
  width: 100%;
  height: 60px;
}

.sdbngsdfg img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.dgjhdfg h5 {
  font-size: 20px;
  font-weight: 600;
  color: #143664;
}

.dgjhdfg p {
  font-size: 13px;
}

.dfgjhdfg1 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 30px 20px;
  border-radius: 8px;
  margin: 10px;
  background-color: #4f9cf9;
}

.dfgjhdfg2 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 30px 20px;
  border-radius: 8px;
  margin: 10px;
  background-color: #4f9cf9;
}

.fnbgf1 {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin-top: 40px;
  margin-bottom: 40px;
}


.bhyudfdg {
  text-align: center;
  margin: auto;
  width: 100px;
  height: 100px;
}

.bhyudfdg img {
  width: 100%;
  height: 100%;
}

.fnhjifdfdg {
  text-align: center;
}

.fnhjifdfdg h6 {
  color: #032D60;
  font-size: 25px;
  font-weight: 600;
  padding-top: 5px;
}

.fnhjifdfdg p {
  color: black;
  font-size: 15px;
  padding-top: 15px;
}

.vhfdhhgfdfdg {
  width: 100%;
  padding: 40px 0;
}

.dfngjhdfgdf {
  margin-top: 45px;
}

.fbgfjhg {
  /*padding:20px;*/
  border-radius: 8px;
  /*box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;*/
}

.nbgdfgdf h5 {
  padding-top: 15px;
}


.mnbfd55 {
  width: 100%;
  height: 345px;
}

.mnbfd55 img {
  width: 100%;
  height: 100%;
}

.nbgdfgdf h2 {
  color: #032D60;
  font-weight: 600;
  font-size: 40px;
}


@media only screen and (max-width:991px) {
  .dfgjhfgd {
    display: inline !important;
  }

  #navbarSupportedContent {
    display: none;
  }

  .sdfghdfgdf {
    padding: 20px !important;
    text-align: center;
  }

  h1 {
    font-size: 2.2rem !important;
  }

  h2 {
    text-align: center;
    font-size: 2rem !important;
  }

  .sdfsdfsdf p,
  .dfbghdfgdfgdf p,
  .ndjiwenkndfuiwehrwer p,
  .dienwm_iuemrer p,
  .aoidjniehrrrr_right p,
  .diksijfejor_wrapper p,
  .doksjoijfrerr_right p,
  .doksjoijfrerr_left p,
  .hsdffdvffdfd p,
  .fhgdfg p,
  .fbgdfgdfgdf p,
  .dfbjhfdfgdf p,
  .weinjiurr_inner p,
  .oidmnewr_left p,
  .oidmnewr_right p,
  .dsrt_inner p,
  .djniwer_inner p,
  .sdfdsffd p,
  .sdfsrfdfrt p,
  .dopjemwlkjrower_inner p,
  .ijdnm_eoijrer p,
  .fdhjhj p,
  .fmnbjkfnvf p,
  .cfbvhdfgdf p,
  .kdsdnfvdsfd p,
  .doiewnirnewr_inner p,
  .oidenjwiuhrr_inner p,
  .sdbghcsdcsd p,
  .jikasdnudhwer_inner p,
  .fkuyfdfrdgf p,
  .fdbvhjfyfdg p,
  .fdghufgfdgf p,
  .uidneiwjrer_inner p,
  .dsdvrgtrweewerwer p,
  .fgydfgdfg p,
  .dfbdfdf p,
  .dfdf55g p,
  .duiewir_inner p,
  .deiwnrjwenr_right p,
  .cfbfjhf p,
  .dfbdfhgdfg p,
  .fhgdfgdf p,
  .dfbngdfjhgd p,
  .fgjbdfg p {
    text-align: justify !important;
  }

  .dopjemwlkjrower_inner p,
  .fdhjhj h2 {
    margin-top: 1rem;
  }

  .dfbnhdfdf h2 {
    text-align: left;
    font-size: 2rem !important;
  }

  .fbgdfgdfgdf,
  .dsfbsdf,
  .nsfdsfjff,
  .doiewnirnewr_inner,
  .dgndfgdfgdf,
  .oidenjwiuhrr_inner,
  .sdbghcsdcsd,
  .duienwuriew_inner,
  .jikasdnudhwer_inner,
  .dhujhbdsf555,
  .fhvgfdfd,
  .uidneiwjrer_inner,
  .fgydfgdfg,
  .dfbdfdf,
  .duiewir_inner,
  .dfbdfhgdfg,
  .fhgdfgdf,
  .dfbngdfjhgd,
  .dffghdf,
  .dffghdf1,
  .dffghdf2 {
    text-align: center;
  }

  .zsdcvdfgfryhfre .tab-container:global(.d-flex) {
    display: block !important;
  }

  .idnwehrwer_overlay:global(.p-5),
  .djnhweber_inner_overlay:global(.p-5) {
    padding: 2rem !important;
  }

  .zsdcvdfgfryhfre .tab-menu:global(.me-4) {
    margin-right: 0 !important;
    margin-bottom: 2rem;
    text-align: center;
  }

  .vbddds button {
    margin-bottom: 1rem;
  }

  .dgndfgdfgdf img {
    width: 70%;
  }

  .ujhfgfg,
  .fbdf,
  .dfbdf,
  .sdfbsdf,
  .jhfg525 {
    margin: 0 auto 1rem;
  }

  .cfbvhdfgdf,
  .fhgjfgdfg,
  .sdfghdfgdf,
  .v_dfgddasf img,
  .duiewir_inner.vddfsddfff img,
  .jffjfdgdfgdfg,
  .fdfgdfgfg {
    width: 100% !important;
  }

  .sdbghcsdcsd,
  .v_dfgddasf,
  .dfbdfhgdfg,
  .dfbngdfjhgd,
  .dffghdf,
  .dffghdf1 {
    margin-bottom: 2rem;
  }

  .gdfhgdfg i {
    line-height: 3;
  }

  .gdfjkghdgsd,
  .dgndfgdfgdf,
  .dfhbfgd,
  .gbgfhgf img,
  .dhujhbdsf555,
  .vfdfnhfdbfd {
    height: auto !important;
  }

  .dhujhbdsf555,
  .dfbhdfdf6528 {
    margin-bottom: 2rem;
  }

  .dughyee :global(.col-lg-6):last-child {
    margin-top: 2rem;
  }

  .dienwm_iuemrer h2:before,
  .dienwm_iuemrer h2:after {
    left: 50%;
    transform: translateX(-50%);
  }

  .doieflmeoiwjrowe> :global(.px-5) {
    padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;
  }

  .odijweirwerr_right {
    padding: 1rem !important;
    margin-top: 0;
  }

  .cdfbikerfsdfsfeeqwe .asedifoje_inner {
    margin-top: 0 !important;
  }

  .sdfdsffd h2 {
    margin: 1rem 0;
  }

  .xnjhxffgdf {
    padding: 5rem 0;
  }

  .sdfsdfsdf> :global(div.d-flex) {
    display: block !important;
    text-align: center;
  }

  .sdfsdfsdf> :global(div.d-flex button) {
    margin-top: 2rem;
  }

  .diksijfejor_wrapper:global(.p-5) {
    padding: 0 !important;
  }

  .fjhjdfdfgdf> :global(.px-5),
  .sdfsdcdrerrrr> :global(.px-5),
  .fjhfdfgdfg> :global(.px-5),
  .duiewmjroiweorrr> :global(.px-5),
  .zsdcvdfgfryhfre> :global(.px-5),
  .asdfdergdg> :global(.p-5, ) .iudniuwehirwerr> :global(.px-5),
  .fghsdfgsdfgdfg {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .oidmnewr_middle,
  .duiewmjroiweorrr,
  .fdnhjgfd {
    text-align: center;
  }

  .oidmnewr_middle img {
    width: 60%;
  }

  .sdbghcsdcsd h2 {
    margin-top: 2rem;
  }

  .fnjfd55 {
    margin: 0 auto 1rem;
  }

  .fbgdfgdfgdf h2 {
    margin: 2rem 0;
  }

  .dfbgjhdfg .fgdf {
    justify-content: center;
  }

  .dfbjhfdfgdf> :global(.p-5) {
    padding: 0.2rem !important;
  }

  .dfbjhfdfgdf {
    text-align: center;
  }

  .dgndfgdfgdf img {
    margin-top: 1.5rem;
  }

  .mvicfnvfbc,
  .dgndfgdfgdf img {
    height: auto;
  }

  .dopjemwlkjrower_inner {
    text-align: center;
  }

  .weinjiurr_inner:global(.p-5),
  .ijdnm_eoijrer:global(.p-5) {
    padding: 1rem !important;
  }
}



@media only screen and (max-width:600px) {
  .btn125 {
    padding: 14px 20px;
  }

  .btn126 {
    padding: 14px 20px;
  }

  .custom-container,
  .container-grid,
  .custom-container10 {
    width: 90% !important;
  }

  .dsfbsdf {
    margin-bottom: 20px;
  }

  .fbgfjhg {
    margin-bottom: 25px;
  }

  .vgbfdf {
    padding: 10px;
  }
}



@media only screen and (max-width:581px) {
  .btn126 {
    margin-left: 0 !important;
  }
}


@media only screen and (max-width:538px) {
  .sdcsdfeewwwww ul {
    display: block;
  }
}


@media only screen and (max-width:393px) {
  .btn125 {
    padding: 14px 12px;
  }

  .btn126 {
    padding: 14px 12px;
  }

  .fhgdfg h2 {
    font-size: 35px;
  }

}


@media only screen and (max-width:375px) {
  h2 {
    font-size: 30px !important;
  }

  .btn125 {
    padding: 14px 10px;
  }

  .btn126 {
    padding: 14px 10px;
  }
}


/* Prerana css start */
.ones .on1 {
  position: absolute;
  width: 11rem;
  right: 3%;
  bottom: 16%;
  animation: money 2s infinite linear;
  opacity: 0
}

.ones .on2 {
  position: absolute;
  width: 9.5rem;
  bottom: 13.5%;
  left: 2%;
  animation: mic 4s infinite linear;

}

.ones .on3 {
  position: absolute;
  width: 13rem;
  bottom: 56%;
  right: 1%;
  animation: w2 2s infinite linear;

}

.ones .on4 {
  position: absolute;
  width: 12rem;
  bottom: 72%;
  left: 8%;
  animation: 5s infinite w3-div;
}

@keyframes money {
  0% {
    transform: translate(-1rem);
  }

  100% {
    transform: translateY(0);
    opacity: 1
  }

  ;
}

@keyframes mic {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateX(-1rem)
  }

  60% {
    transform: translateY(-1rem)
  }

  100% {
    transform: translateY(0)
  }
}

@keyframes w3-div {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

@keyframes w1 {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(90deg);
  }
}

@keyframes w2 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-0.3rem);
  }

  100% {
    transform: translateX(0);
  }
}

/* prerana css end */


/* karina css start */
.picture1 {
  position: absolute;
  width: 6rem;
  height: 6rem;
  left: 8%;
  top: 10%;
  animation: mic 4s linear infinite;
  /* border-radius: 50%; */
  opacity: 1;
}

@keyframes mic {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateX(-1rem);
  }

  60% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
  }
}

.picture2 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  right: 15%;
  top: 15%;
  animation: pulse 2s linear infinite;
  /* border-radius: 50%; */
  opacity: 0;
}

.picture3 {
  position: absolute;
  width: 6rem;
  height: 6rem;
  right: 8%;
  bottom: 10%;
  animation: rotation 4s linear infinite;
  /* border-radius: 50%; */
  opacity: 1;
}

@keyframes rotation {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
  }


}

.picture4 {
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 12%;
  bottom: 42%;
  animation: pulse 2s linear infinite;
  /* border-radius: 50%; */
  opacity: 0;

}

.picture5 {
  position: absolute;
  width: 4rem;
  height: 4rem;
  left: 8%;
  bottom: 30%;
  /* animation: pulse 2s linear infinite; */
  /* border-radius: 50%; */
  opacity: 1;
}

.picture6 {
  position: absolute;
  width: 8rem;
  height: 8rem;
  left: 4%;
  bottom: 4%;
  animation: side 4s linear infinite;
  /* border-radius: 50%; */
  opacity: 0;
}

@keyframes side {
  0% {
    transform: translate(-1rem);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }

}

@keyframes pulse {
  to {
    transform: scale(2);
    opacity: 1;
  }
}

/* karina css end */

/* Karina css start */

.sales1{
  position:absolute;
  width: 9rem !important;
  height: 5rem !important;
  left: 0%;
  top: 23%;
  animation: two 3s infinite;
}
.sales2{
  position:absolute;
  width: 9rem !important;
  height: 7rem !important;
  right: 0%;
  bottom: 56%;
  animation: two 3s infinite;
}
 @keyframes two{
      0%{
    transform: translateY(0);
  }
     30%{
    transform: translateY(-1rem);
  }
     100%{
    transform: translateY(0);
  }
}
.sales3{
  position:absolute;
  width: 5rem !important;
  height: 4rem !important;
  right: 5%;
  top: 43%;
  animation: three 3s infinite;
  opacity:0;
}
@keyframes three {
      0%{transform:scale(0.5);}
      100%{transform:scale(1.5);
      opacity:1;}
      
    }

.sales4{
  position:absolute;
  width: 8rem !important;
  height: 5rem !important;
  right: 3%;
  top: 74%;
  animation: five 3s infinite;
}

.sales5{
  position:absolute;
  width: 8rem !important;
  height: 7rem !important;
  left: 3%;
  top: 62%;
  animation: five 3s infinite;
}
 @keyframes five{
      0%{
    transform: translateX(0);
  }
     30%{
    transform: translateX(-1rem);
  }
     100%{
    transform: translateX(0);
  }
}
/* Karina css end */

