    /*start new creative digital markeing strategy design page  css*/

.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  width: 50%;
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 { 
  color: var(--main-blue-color);
  font-weight: bold;
}
.sdfghdfgdf p {
  color: var(--medium-text-color);
}

.btn125 {
  padding: 14px 40px;
  background-color: var(--button-main-blue-color);
  color: white;
  font-size: 17px;
  font-weight: 600;
  border: 2px solid var(--button-main-blue-color);
  border-radius: 4px;
}

.btn126 {
  padding: 14px 40px;
  background-color: transparent;
  color: var(--button-main-blue-color);
  font-size: 17px;
  font-weight: 600;
  border: 2px solid var(--button-main-blue-color);
  border-radius: 4px;
  margin-left: 10px;
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfgjhfgd {
  display: flex;
  padding: 1rem 0 3rem 0;
}

.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}
.sdfsdfsdf p {
  color: var(--medium-text-color);
}

.dfhbfgd {
  width: 100%;
  height: 450px;
}
.dfhbfgd img {
  width: 100%;
  height: 100%;
}

.dfbnhdfdf h2 {
  color: var(--main-blue-color);
  font-size: 40px;
  font-weight: 600;
}
.dfbnhdfdf p {
  color: var(--medium-text-color);
}

.fgjhdfg .form-control {
  padding: 10px;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.fgjhdfg {
  margin-bottom: 20px;
}

.dfgbfdf button {
  padding: 14px 35px;
  color: white;
  background-color: var(--button-main-blue-color);
  border-radius: 4px;
  border: none;
  font-size: 17px;
  font-weight: 500;
}

.inieuirjndsirferer.collapse {
    justify-content: right;
}

.dfbghdfgdfgdf {
  width: 100%;
  padding: 40px 0;
}

.mgjhbdfg p {
  padding-bottom: 10px;
  color: var(--medium-text-color);
}

.mgjhbdfg a {
  color: var(--button-main-blue-color);
  font-weight: 500;
}

.vgbfdf {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  border-radius: 1.4rem;
}

.custom-container {
  width: 75%;
  margin: auto;
}

.fbgdfgdfgdf button {
  padding: 12px 30px;
  background-color: var(--button-main-blue-color);
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}
.dgndfgdfgdf img {
  width: 100%;
}

.fdnbvgdfgdfgdf {
  margin-top: 40px;
}

.cfbvhdfgdf {
  width: 70%;
  margin: auto;
}
.cfbvhdfgdf h2 {
  color: var(--main-blue-color);
  font-weight: bold;
  font-size: 40px;
}
.cfbvhdfgdf p {
  color: var(--medium-text-color);
}

.xnjhxffgdf {
  width: 100%;
}
.xnjhxffgdf img {
  width: 100%;
}

.asedifoje_inner:global(.sticky-top){
    top: 15% !important;
}

.sfmlkdfdff h2{
    color: var(--main-blue-color);
}

.asedifoje_inner{
    border-radius: 1rem;    
}

.odijweirwerr_right h2{
    color: var(--main-blue-color);
}

.cdfbikerfsdfsfeeqwe .odijweirwerr_right{
    margin-top: 0;
    padding: 3rem 10rem 3rem 5rem;
}

.blb_list{
    right: 12%;
    top: 22px;
}

.blb_list li{
    list-style: none;
}

.ikdjewkrwer li{
    list-style: none;
}

.ikdjewkrwer li:nth-of-type(4n - 3) img{
    width: 11rem;
    top: 0;
    left: 7%;
}

.ikdjewkrwer li:nth-of-type(4n - 2) img{
    width: 5rem;
    top: 5%;
    left: 50%;
}

.ikdjewkrwer li:nth-of-type(4n - 1) img{
    width: 8rem;
    top: 15%;
    right: 17%;
}

.ikdjewkrwer li:nth-of-type(4n) img{
    width: 15rem;
    bottom: 10%;
    right: 18%;
}

.akmdlkcsjhke{
    animation: flash 2s infinite ease-in-out alternate;
    will-change: opacity;
}

.doenrjewrwer img:first-child{
    left: 0;
    width: 35%;
    top: 40%;
    animation: textTitle 2s infinite ease-in-out;
}

.askdjnerwer{
    top: 3%;
}

.diheuiwhrewrwer img{
    width: 85%;
}

.doijewkjwer img{
    width: 12rem;
}

.dolewjorwrwer .doijewkjwer:nth-of-type(4n - 3){
    top: 5%;
}

.dolewjorwrwer .doijewkjwer:nth-of-type(4n - 2){
    top: 50%;
    transform: translateY(-50%);
    left: 12%;
}

.dolewjorwrwer .doijewkjwer:nth-of-type(4n - 1){
    top: 5%;    
    right: 12%;
}

.dolewjorwrwer .doijewkjwer:nth-of-type(4n){
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

@keyframes flash {
    0%{
        opacity: 1;
    }

    35%{
        opacity: 0.3;
    }

    65%{
        opacity: 0.6;
    }

    85%{
        opacity: 0.4;
    }

    100%{
        opacity: 1;
    }
}


.doenrjewrwer img:first-child{
    left: 0;
    width: 35%;
    top: 40%;
    animation: textTitle 2s infinite ease-in-out;
}

@keyframes textTitle {
    0%{
        transform: translateY(-40%);
    }

    50%{
        transform: translateY(-55%);
    }

    100%{
        transform: translateY(-40%);
    }
}

.doenrjewrwer img:last-child{
    right: 3%;
    width: 4rem;
    bottom: 20%;
    animation: mouseAnimate 3s infinite linear;
}

@keyframes mouseAnimate {
    0%{
        transform: translateY(0);
    }

    33%{
        transform: translateY(-1rem);
    }

    66%{
        transform: translateX(1rem);
    }

    90%{
        transform: translateY(1rem);
    }

    100%{
        transform: translateY(0);
    }
}


/*end new creative digital markeing strategy design page  css*/




@media only screen and (max-width:2550px) 
{
  .fjhfdfgdfg 
  {
    margin-top: 12rem;
  }

     .dfdsf52d2 img
    {
      width: 250px !important;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
      height: 160px !important;
      margin-top: -40px !important;
    }

      .dfdsf52d img
    {
        width: 308px !important;
        height: 150px !important;
    }

    .sdmsdjhsds
    {
      margin-bottom:36% !important;
    }

    .dfdsf52dbbb 
    {
      margin-top: -10% !important;
      margin-left: 60% !important;


    }


}

@media only screen and (max-width:1920px) 
{

    .fjhfdfgdfg 
  {
    margin-top: 12rem;
  }

     .dfdsf52d2 img
    {
      width: 250px !important;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
      height: 160px !important;
      margin-top: -40px !important;
    }

      .dfdsf52d img
    {
        width: 308px !important;
        height: 150px !important;
    }

    .sdmsdjhsds
    {
      margin-bottom:36% !important;
    }

    .dfdsf52dbbb 
    {
      margin-top: -12% !important;
      margin-left: 60% !important;


    }
  
}

@media only screen and (max-width:1600px) 
{

    .fjhfdfgdfg 
  {
    margin-top: 12rem;
  }

     .dfdsf52d2 img
    {
      width: 220px !important;
      height: 130px !important;
      margin-top: -40px !important;
    }

      .dfdsf52d img
    {
        width: 220px !important;
        height: 141px !important;
    }

    .sdmsdjhsds
    {
      margin-bottom:36% !important;
    }

    .dfdsf52dbbb 
    {
      margin-top: -15% !important;
      margin-left: 60% !important;


    }
  
}

@media only screen and (max-width:1366px) 
{
      .dfdsf52d2 img
    {
      width: 110px !important;
      height: 70px !important;
      margin-top: -40px !important;
    }
    .dfdsf52d img
    {
      width: 170px !important;
      height: 100px !important;
    }

    .box{
    width:100px !important;
    height:100px !important;
     /* margin-top: 4rem; */
    }

      .sdmsdjhsds
    {
      margin-bottom:20% !important;
    }

    .dfdsf52dbbb 
  {
    margin-top: -18% !important;
    margin-left: 60% !important;


  }

   .fjhfdfgdfg 
  {
    margin-top: -3rem !important;
  }

        
}



@media only screen and (max-width:991px){
    .dfgjhfgd    {
        display:inline !important;
    }

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        padding:20px !important;
        text-align: center;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
}



@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
}



@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}


@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}


@media only screen and (max-width:393px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
}


.uhfju55d88 img 
{
    width: 350px;
    height: 55px;
    margin-left: 280px;
    margin-bottom: 10px;
    /* margin-top: -200px; */
}

.dsfsdfsdf654df
{
    margin-top: -325px;
}



