.dfbjhfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.vgbfdf {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 30px;
  border-radius: 18px;
}

.custom-container10 {
  width: 75%;
  margin: auto;
}

.fbgdfgdfgdf h2 {
  color: #032D60;
  font-size: 40px; 
  font-weight: 600;
}
.fbgdfgdfgdf p {
  color: #181818;
  font-size: 17px;
}
.fbgdfgdfgdf button {
  padding: 12px 30px;
  background-color: #0176D3;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.dgndfgdfgdf {
  width: 100%;
  height: 350px;
}
.dgndfgdfgdf img {
  width: 100%;
  height: 100%;
}

.fdnbvgdfgdfgdf {
  margin-top: 40px;
}

.cfbvhdfgdf {
  width: 70%;
  margin: auto;
}
.cfbvhdfgdf h2 {
  color: #032D60;
  font-weight: bold;
  font-size: 40px;
}
.cfbvhdfgdf p {
  color: #181818;
  font-size: 17px;
}

.bhyudfdg {
  text-align: center;
  margin: auto;
  width: 100px;
  height: 100px;
}
.bhyudfdg img {
  width: 100%;
  height: 100%;
}

.fnhjifdfdg {
  text-align: center;
}
.fnhjifdfdg h6 {
  color: #032D60;
  font-size: 25px;
  font-weight: 600;
  padding-top: 5px;
  font-family: var(--font-family-montserrat);
}
.fnhjifdfdg p {
  color: black;
  font-size: 15px;
  padding-top: 15px;
}

.vhfdhhgfdfdg {
  width: 100%;
  padding: 40px 0;
}

.njvfdgfd {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.dfhbfgd {
  width: 100%;
  height: 450px;
}
.dfhbfgd img {
  width: 100%;
  height: 100%;
}

.dfbnhdfdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.dfbnhdfdf p {
  color: #181818;
  font-weight: 500;
  font-size: 17px;
}

.fgjhdfg .form-control {
  padding: 10px;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.fgjhdfg {
  margin-bottom: 20px;
}

.dfgbfdf button {
  padding: 14px 35px;
  color: white;
  background-color: #0176D3;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  font-weight: 500;
}

.sdnfjhsdfsdfsdf {
  width: 100%;
  padding: 40px 0;
}

.dgndfgdfgdf{
    position:relative;
}
.gfgfgfgfgfg .t1{
    position:absolute;
    height:8rem !important;
    width:8rem !important;
    top:35%;
    right:31%;
}
.gfgfgfgfgfg .t2{
    position:absolute;
    height:5rem !important;
    width:5rem !important;
    bottom:68%;
    right:70.5%;
}
.gfgfgfgfgfg .t3{
    position:absolute;
    height:3.5rem !important;
    width:3.5rem !important;
    top:73.5%;
    right:70%;
}
.gfgfgfgfgfg .t5{
    position:absolute;
    height:4rem !important;
    width:4rem !important;
    top:72%;
    left:69%;
}
.gfgfgfgfgfg .t4{
    position:absolute;
    height:3.5rem !important;
    width:3.5rem !important;
    bottom:70.5%;
    left:74.5%;
}







.dfgjhfgd {
  display: flex;
  padding: 0 0 3rem 0;
}
.sdfghdfgdf {
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 {
  color: var(--main-blue-color);
  font-weight: bold;
}
.sdfghdfgdf p {
  color: var(--medium-text-color);
}

.dbfghsdf img{
    width: 100%;
    height: auto;
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}
.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}
.sdfsdfsdf p {
  color: var(--medium-text-color);
}



@media only screen and (max-width:2550px) 
{

   .rohitp01 .rohitimg01{
    position: absolute;
        width: 25rem !important;
        bottom: 228px !important;
        left: 205px !important;
    /* animation: wiggle 2s infinite linear; */
    }
  
  .rohitp02 .rohitimg02{
      width: 30rem !important;
    bottom: 420px !important;
    left: 170px !important;
      /* animation: wiggle2 2s infinite linear; */
  }

  .rohitp03 .rohitimg03{
    position: absolute;
    width: 22rem !important;
    bottom: 165px !important;
    left: 45rem !important;
      /* animation: wiggle 2s infinite linear; */
  }

  .rohitp04 .rohitimg04{
    position: absolute !important;
        width: 25rem !important;
      bottom: 420px !important;
      left: 46rem !important;
      /* animation: wiggle2 2s infinite linear; */
      
  }
  .dgndfgdfgdf
  {
    height: 44rem;
  }

  
    .gfgfgfgfgfg .t1{
    position:absolute;
    height: 10rem !important;
    width: 9rem !important;
    top: 39%;
    right: 40%;
    }
    .gfgfgfgfgfg .t2{
        position: absolute;
        height: 7rem !important;
        width: 7rem !important;
        bottom: 71%;
        right: 72.5%;
    }
    .gfgfgfgfgfg .t3{
        position:absolute;
        height:5.5rem !important;
        width:5.5rem !important;
        top:75.5%;
        right:70%;
    }
    .gfgfgfgfgfg .t5{
        position:absolute;
        height: 5rem !important;
        width: 5rem !important;
        top: 74%;
        left: 71%;
    }
    .gfgfgfgfgfg .t4{
        position:absolute;
        height:5.5rem !important;
        width:5.5rem !important;
        bottom:70.5%;
        left:74.5%;
    }

}


@media only screen and (max-width:1920px) 
{

  
   .rohitp01 .rohitimg01{
           width: 21rem !important;
        bottom: 166px !important;
        left: 120px !important;
    /* animation: wiggle 2s infinite linear; */
    }
  
  .rohitp02 .rohitimg02{
        width: 20rem !important;
        bottom: 325px !important;
        left: 157px !important;
      /* animation: wiggle2 2s infinite linear; */
  }

  .rohitp03 .rohitimg03{
    position: absolute;
    width: 18rem !important;
    bottom: 122px !important;
    left: 34rem !important;
      /* animation: wiggle 2s infinite linear; */
  }

  .rohitp04 .rohitimg04{
    position: absolute !important;
       width: 19rem !important;
        bottom: 313px !important;
        left: 34rem !important;
      /* animation: wiggle2 2s infinite linear; */
      
  }
  .dgndfgdfgdf
  {
    height: 34rem;
  }

  
    .gfgfgfgfgfg .t1{
    position:absolute;
    height: 8rem !important;
    width: 7rem !important;
    top: 39%;
    right: 40%;
    }
    .gfgfgfgfgfg .t2{
        position: absolute;
        height: 6rem !important;
        width: 6rem !important;
        bottom: 70%;
        right: 71.5%;
    }
    
    .gfgfgfgfgfg .t3{
        position:absolute;
        height:4.5rem !important;
        width:4.5rem !important;
        top:75.5%;
        right:70%;
    }
    .gfgfgfgfgfg .t5{
        position:absolute;
        height: 4rem !important;
        width: 4rem !important;
        top: 74%;
        left: 70%;
    }
    .gfgfgfgfgfg .t4{
        position:absolute;
        height:4.5rem !important;
        width:4.5rem !important;
        bottom:70.5%;
        left:74.5%;
    }
  
}

@media only screen and (max-width:1600px) 
{

   .rohitp01 .rohitimg01{
        width: 19rem !important;
        bottom: 179px !important;
        left: 87px !important;
    /* animation: wiggle 2s infinite linear; */
    }
  
  .rohitp02 .rohitimg02{
        width: 18rem !important;
        bottom: 325px !important;
        left: 95px !important;
      /* animation: wiggle2 2s infinite linear; */
  }

  .rohitp03 .rohitimg03{
    position: absolute;
    width: 16rem !important;
    bottom: 145px !important;
    left: 28rem !important;
      /* animation: wiggle 2s infinite linear; */
  }

  .rohitp04 .rohitimg04{
    position: absolute !important;
    width: 17rem !important;
    bottom: 313px !important;
    left: 29rem !important;
      /* animation: wiggle2 2s infinite linear; */
      
  }
  .dgndfgdfgdf
  {
    height: 28rem;
  }

  
    .gfgfgfgfgfg .t1{
      position:absolute;
      height: 7rem !important;
      width: 6rem !important;
    top: 39%;
    right: 40%;
    }
    .gfgfgfgfgfg .t2{
        position: absolute;
        height: 5rem !important;
        width: 5rem !important;
        bottom: 70%;
        right: 71.5%;
    }
    
    .gfgfgfgfgfg .t3{
        position:absolute;
        height:3.5rem !important;
        width:3.5rem !important;
        top:75.5%;
        right:70%;
    }
    .gfgfgfgfgfg .t5{
        position:absolute;
        height: 3.5rem !important;
        width: 3rem !important;
        top: 74%;
        left: 70%;
    }
    .gfgfgfgfgfg .t4{
        position:absolute;
        height:3.5rem !important;
        width:3.5rem !important;
        bottom:70.5%;
        left:74.5%;
    }
  
}

@media only screen and (max-width:1366px) 
{
  
  .rohitp02 .rohitimg02{
    position: absolute;
    width: 17rem !important;
      bottom: 372px  !important;
      left: 53px !important;
      /* animation: wiggle2 2s infinite linear; */
  }

  .rohitp03 .rohitimg03{
    position: absolute;
        width: 16rem !important;
      bottom: 193px !important;
      left: 376px !important;
      /* animation: wiggle 2s infinite linear; */
  }

  .rohitp04 .rohitimg04{
    position: absolute;
        width: 16rem !important;
      bottom: 359px !important;
      left: 25rem !important;
      /* animation: wiggle2 2s infinite linear; */
      
  }

  .rohitp01 .rohitimg01{
    position: absolute;
    width: 15rem !important;
    bottom: 255px !important;
    left: 86px !important;
    /* animation: wiggle 2s infinite linear; */
    }
.gfgfgfgfgfg .t1{
    position:absolute;
    height:6rem !important;
    width:6rem !important;
    top:35%;
    right:36%;
}
.gfgfgfgfgfg .t2{
    position:absolute;
    height:4rem !important;
    width:4rem !important;
    bottom:68%;
    right:70.5%;
}
.gfgfgfgfgfg .t3{
    position:absolute;
    height:3rem !important;
    width:3rem !important;
    top:73.5%;
    right:70%;
}
.gfgfgfgfgfg .t5{
    position:absolute;
    height:3rem !important;
    width:3rem !important;
    top:74%;
    left:69%;
}
.gfgfgfgfgfg .t4{
    position:absolute;
    height:3rem !important;
    width:3rem !important;
    bottom:70.5%;
    left:74.5%;
}

  .dgndfgdfgdf
  {
    height: auto;
  }
  
}




@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        padding:20px !important;
        text-align: center;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
}



@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
}



@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}


@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}


@media only screen and (max-width:393px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
}



/* rohit design start */

.rohitp01 .rohitimg01{
  position: absolute;
  width: 15rem !important;
    bottom: 255px;
    left: 86px;
    /* animation: wiggle 2s infinite linear; */
}
@keyframes wiggle {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(0.3rem);
  }
  100%{
    transform: translateY(0);
  }
  
}

@keyframes wiggle2 {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-0.3rem);
  }
  100%{
    transform: translateY(0);
  }
  
}

.rohitp02 .rohitimg02{
  position: absolute;
  width: 17rem !important;
    bottom: 372px;
    left: 53px;
    /* animation: wiggle2 2s infinite linear; */
}

.rohitp03 .rohitimg03{
  position: absolute;
      width: 16rem !important;
    bottom: 193px;
    left: 376px;
    /* animation: wiggle 2s infinite linear; */
}

.rohitp04 .rohitimg04{
  position: absolute;
      width: 16rem !important;
    bottom: 359px;
    left: 25rem;
    /* animation: wiggle2 2s infinite linear; */
    
}

.dbfghsdf{
  position: relative;
}

/* rohit design end */

/*prerana starttttt*/

.dgndfgdfgdf{
  position: relative;
}
.bu1{
    position: absolute;
    height: 7rem !important;
    width: 7.5rem !important;
    bottom: 27%;
    right: 70.5%;
    animation: blink 4s ease-in-out infinite;
}

@keyframes blink{
  0%,100% {
    filter:drop-shadow(0 0 0px);}
  50%{
       filter:drop-shadow(0 0 10px);
    }
}
.bu2{
    position: absolute;
    height: 7rem !important;
    width: 7.5rem !important;
    bottom: 3.5%;
    right: 36.5%;
    animation: wave 5s ease-in-out infinite;
}
@keyframes wave {
  0%, 100% { transform: translateY(0) rotate(0deg); }
  25% { transform: translateY(-10px) rotate(-5deg); }
  50% { transform: translateY(0) rotate(5deg); }
  75% { transform: translateY(10px) rotate(-3deg); }
}
.bu3{
    position: absolute;
    height: 7rem !important;
    width: 6.3rem !important;
    bottom: 61.5%;
    right: 15.5%;
     animation: bounce 4s ease-in-out infinite;
}
@keyframes bounce {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-20px); }
}

/*prerana enddddd*/




/*sayantika starttttt*/

.dgndfgdfgdf {
  position: relative;
}

.transit01 {
  position: absolute;
  width: 174px !important;
  top: 4px;
  left: 228px;
}

.transit02 {
  position: absolute;
  width: 121px !important;
  top: 112px;
  right: -8px;
}

.transit05 {
  position: absolute;
  width: 121px !important;
  top: 112px;
  left: 2px;

}

.leading1 img,
.leading2 img,
.leading5 img{
  height: auto !important;
}

/*sayantika enddddd*/




/*karina starttttt*/

.dbfghsdf{
  position:relative;
}
.image1{
  position: absolute;
    width: 15vw !important;
    height: auto !important;
    left: 68%;
    top: 4%;
    animation: bounceIn 3s;
}
@keyframes bounceIn {
  0% { transform: scale(0.3); opacity: 0; }
  50% { transform: scale(1.05); opacity: 1; }
  70% { transform: scale(0.9); }
  100% { transform: scale(1); }
}
.image2{
     position: absolute;
    width: 16vw !important;
    height: auto !important;
    left: 64%;
    top: 57%;
    animation: flipOut 3s;
}
@keyframes flipOut {
  from { transform: rotateY(0deg); opacity: 1; }
  to { transform: rotateY(90deg); opacity: 0; }
}
.image3{
 position: absolute;
    width: 18vw !important;
    height: auto !important;
    left: 2%;
    bottom: 30%;
    animation: skewWiggle 3s;
}
@keyframes skewWiggle {
  0%, 100% { transform: skew(0deg, 0deg); }
  25% { transform: skew(10deg, -5deg); }
  50% { transform: skew(-10deg, 5deg); }
  75% { transform: skew(5deg, -10deg); }
}

.image4{
 position: absolute;
    width: 18vw !important;
    height: auto !important;
    right: 2%;
    bottom: 30%;
    animation: skewWiggle 3s;
}
@keyframes skewWiggle {
  0% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

/*karina enddddd*/