.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  width: 50%;
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 {
  color: #032D60;
  font-weight: bold;
}
.sdfghdfgdf p {
  color: #181818;
  font-size: 17px;
  font-weight: 500;
}

.custom-container {
  width: 70%;
  margin: auto;
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfgjhfgd {
  display: flex;
  width: 100%;
  height: 70vh;
  align-items: center;
  padding: 1rem 0 3rem 0;
}

.dfgjhfgd
{
  width: 100%;
  height: 70vh;
  background-size: 100% 100%;
}

.sdfsdfsdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.sdfsdfsdf p {
  color: #181818;
  font-weight: 500;
  font-size: 18px;
}

.dfhbfgd {
  width: 100%;
  height: 450px;
}
.dfhbfgd img {
  width: 100%;
  height: 100%;
}

.dfbnhdfdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.dfbnhdfdf p {
  color: #181818;
  font-weight: 500;
  font-size: 17px;
}

.fgjhdfg .form-control {
  padding: 10px;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.fgjhdfg {
  margin-bottom: 20px;
}

.dfgbfdf button {
  padding: 14px 35px;
  color: white;
  background-color: #0176D3;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  font-weight: 500;
}

.inieuirjndsirferer.collapse {
    justify-content: right;
}

.dfbghdfgdfgdf {
  width: 100%;
  padding: 40px 0;
}

.mgjhbdfg p {
  padding-bottom: 10px;
  color: #181818;
}

.mgjhbdfg a {
  color: #0176D3;
  font-weight: 500;
}

.dfbjhfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.vgbfdf {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  border-radius: 1.4rem;
}

.custom-container10 {
  width: 75%;
  margin: auto;
}

.fbgdfgdfgdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.fbgdfgdfgdf p {
  color: #181818;
  font-size: 17px;
}
.fbgdfgdfgdf button {
  padding: 12px 30px;
  background-color: #0176D3;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.dgndfgdfgdf {
  width: 100%;
  height: 350px;
}
.dgndfgdfgdf img {
  width: 100%;
  height: 100%;
}

.fdnbvgdfgdfgdf {
  margin-top: 40px;
}

.cfbvhdfgdf {
  width: 70%;
  margin: auto;
}
.cfbvhdfgdf h2 {
  color: #032D60;
  font-weight: bold;
  font-size: 40px;
}
.cfbvhdfgdf p {
  color: #181818;
  font-size: 17px;
}

.xnjhxffgdf {
  width: 100%;
}
.xnjhxffgdf img {
  width: 100%;
}

.gjhfgfgdfg {
  width: 100%;
  padding: 40px 0;
}

.gdfjkghdgsd {
  width: 100%;
  background-color: #143664;
  height: 450px;
  padding: 25px;
  border-radius: 4px;
}

.jhgdf {
  width: 100%;
  height: 2px;
  background-color: #40444E;
}

.gdfjkghdgsd h5 {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.gdfjkghdgsd p {
  color: white;
  font-size: 16px !important;
  width: 100%;
}

.gdfhgdfg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #C35F16;
  text-align: center;
  line-height: 55px;
}

.gdfhgdfg i {
  text-align: center;
  color: white;
}

.ggdfgdfg {
  margin-left: -20px !important;
}

.ggdfgdfg h6 {
  color: white;
  font-size: 18px !important;
  font-weight: 600;
}

.ggdfgdfg p {
  color: #fff;
  font-size: 14px !important;
  width: 100%;
}

.drfghdfgfr {
  margin-top: 15px;
}

.dfjbfg .form-control {
  padding: 10px;
}

.dfjbfg {
  margin-bottom: 25px;
}

.dfjbfg button {
  padding: 14px 45px;
  background-color: #2D4A8A;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 4px;
}

.dfjhdfbgdfgdfg h2 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 0;
}

.njhfbg5654 {
  width: 65px;
  height: 65px;
  text-align: center;
  margin: auto;
  background-color: #d6f7f7;
  border-radius: 8px;
  margin-top: 40px;
}
.njhfbg5654 img {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.gdfhbgdfgdfg h4 {
  color: #032D60;
  font-weight: 600;
  height: 75px;
  font-size: 24px;
}
.gdfhbgdfgdfg button {
  font-weight: 600;
  color: #032D60;
  text-decoration: underline;
  margin-top: 50px;
  border: none;
}

.container-grid {
  width: 80%;
  margin: auto;
}

.fjhjdfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.gdfhbgdfgdfg {
  text-align: center;
  margin-top: 30px;
}
.gdfhbgdfgdfg h4 {
  color: #133662;
  font-size: 20px;
}

.dfdfdfg {
  padding: 15px;
  margin: 10px 20px;
  border-radius: 16px;
  border-bottom: 12px solid #E6A822;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.gdfhbgdfgdfg h4 {
  padding-top: 25px;
  font-size: 24px;
  color: #032D60 !important;
  font-weight: 600;
}

.sdmsdjhsds img {
  width: 100%;
  height: auto;
}

.ijsduihfwejier{
    color: var(--main-blue-color);
}

.ijsduihfwejier img {
    width: 35%;
    display: block;
    margin: auto;
}

.uidneiwjrer_inner{
    border-radius: 1rem;
    background: #e5fff7;
}

.uidneiwjrer_inner img{
    width: 10rem;
    margin-bottom: 1.4rem;
}

.uidneiwjrer_inner h4{
    color: var(--main-blue-color);
    font-weight: 600;
}


@media only screen and (max-width:991px)
{
    .dfgjhfgd
    {
        display:inline !important;
    }

    #navbarSupportedContent{
        display: none;
    }
    
    .sdfghdfgdf 
    {
        padding:20px !important;
        text-align: center;
    }
    
    h1{
        font-size: 2.2rem !important;
    }
    
    h2{
        text-align: center;
        font-size: 2rem !important;
    }
    
    .sdfsdfsdf p,
    .dfbghdfgdfgdf p,
    .ndjiwenkndfuiwehrwer p,
    .dienwm_iuemrer p,
    .aoidjniehrrrr_right p,
    .diksijfejor_wrapper p,
    .doksjoijfrerr_right p,
    .doksjoijfrerr_left p,
    .hsdffdvffdfd p,
    .fhgdfg p,
    .fbgdfgdfgdf p,
    .dfbjhfdfgdf p,
    .weinjiurr_inner p,
    .oidmnewr_left p,
    .oidmnewr_right p,
    .dsrt_inner p,
    .djniwer_inner p,
    .sdfdsffd p,
    .sdfsrfdfrt p,
    .dopjemwlkjrower_inner p,
    .ijdnm_eoijrer p,
    .fdhjhj p,
    .fmnbjkfnvf p,
    .cfbvhdfgdf p,
    .kdsdnfvdsfd p,
    .doiewnirnewr_inner p,
    .oidenjwiuhrr_inner p,
    .sdbghcsdcsd p,
    .jikasdnudhwer_inner p,
    .fkuyfdfrdgf p,
    .fdbvhjfyfdg p,
    .fdghufgfdgf p,
    .uidneiwjrer_inner p,
    .dsdvrgtrweewerwer p,
    .fgydfgdfg p,
    .dfbdfdf p,
    .dfdf55g p,
    .duiewir_inner p,
    .deiwnrjwenr_right p,
    .cfbfjhf p,
    .dfbdfhgdfg p,
    .fhgdfgdf p,
    .dfbngdfjhgd p,
    .fgjbdfg p{
        text-align: justify !important;
    }
    
    .dopjemwlkjrower_inner p,
    .fdhjhj h2{
        margin-top: 1rem;
    }
    
    .dfbnhdfdf h2{
        text-align: left;
        font-size: 2rem !important;
    }
    
    .fbgdfgdfgdf,
    .dsfbsdf,
    .nsfdsfjff,
    .doiewnirnewr_inner,
    .dgndfgdfgdf,
    .oidenjwiuhrr_inner,
    .sdbghcsdcsd,
    .duienwuriew_inner,
    .jikasdnudhwer_inner,
    .dhujhbdsf555,
    .fhvgfdfd,
    .uidneiwjrer_inner,
    .fgydfgdfg,
    .dfbdfdf,
    .duiewir_inner,
    .dfbdfhgdfg,
    .fhgdfgdf,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1,
    .dffghdf2{
        text-align: center;
    }
    
    .zsdcvdfgfryhfre .tab-container:global(.d-flex){
        display: block !important;
    }
    
    .idnwehrwer_overlay:global(.p-5),
    .djnhweber_inner_overlay:global(.p-5){
        padding: 2rem !important;
    }
    
    .zsdcvdfgfryhfre .tab-menu:global(.me-4){
        margin-right: 0 !important;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .vbddds button{
        margin-bottom: 1rem;
    }
    
    .dgndfgdfgdf img {
        width: 70%;
    }
    
    .ujhfgfg,
    .fbdf,
    .dfbdf,
    .sdfbsdf,
    .jhfg525{
        margin: 0 auto 1rem;
    }
    
    .cfbvhdfgdf,
    .fhgjfgdfg,
    .sdfghdfgdf,
    .v_dfgddasf img,
    .duiewir_inner.vddfsddfff img,
    .jffjfdgdfgdfg,
    .fdfgdfgfg{
        width: 100% !important;
    }
    
    .sdbghcsdcsd,
    .v_dfgddasf,
    .dfbdfhgdfg,
    .dfbngdfjhgd,
    .dffghdf,
    .dffghdf1{
        margin-bottom: 2rem;
    }
    
    .gdfhgdfg i {
        line-height: 3;
    }
    
    .gdfjkghdgsd,
    .dgndfgdfgdf,
    .dfhbfgd,
    .gbgfhgf img,
    .dhujhbdsf555,
    .vfdfnhfdbfd{
        height: auto !important; 
    }
    
    .dhujhbdsf555,
    .dfbhdfdf6528{
        margin-bottom: 2rem;
    }
    
    .dughyee :global(.col-lg-6):last-child{
        margin-top: 2rem;
    }
    
    .dienwm_iuemrer h2:before,
    .dienwm_iuemrer h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .doieflmeoiwjrowe > :global(.px-5){
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }
    
    .odijweirwerr_right{
         padding: 1rem !important; 
         margin-top: 0; 
    }
    
    .cdfbikerfsdfsfeeqwe .asedifoje_inner{
        margin-top: 0 !important;
    }
    
    .sdfdsffd h2{
        margin: 1rem 0;
    }
    
    .xnjhxffgdf{
        padding: 5rem 0;
    }
    
    .sdfsdfsdf > :global(div.d-flex){
        display: block !important;
        text-align: center;
    }
    
    .sdfsdfsdf > :global(div.d-flex button){
        margin-top: 2rem;
    }
    
    .diksijfejor_wrapper:global(.p-5){
        padding: 0 !important;
    }
    
    .fjhjdfdfgdf > :global(.px-5),
    .sdfsdcdrerrrr > :global(.px-5),
    .fjhfdfgdfg > :global(.px-5),
    .duiewmjroiweorrr > :global(.px-5),
    .zsdcvdfgfryhfre > :global(.px-5),
    .asdfdergdg > :global(.p-5,)
    .iudniuwehirwerr > :global(.px-5),
    .fghsdfgsdfgdfg{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    
    .oidmnewr_middle,
    .duiewmjroiweorrr,
    .fdnhjgfd{
        text-align: center;
    }
    
    .oidmnewr_middle img{
        width: 60%;
    }
    
    .sdbghcsdcsd h2{
        margin-top: 2rem;
    }
    
    .fnjfd55{
        margin: 0 auto 1rem;
    }
    
    .fbgdfgdfgdf h2{
        margin: 2rem 0;
    }
    
    .dfbgjhdfg .fgdf{
        justify-content: center;
    }
    
    .dfbjhfdfgdf > :global(.p-5){
        padding: 0.2rem !important;
    }
    
    .dfbjhfdfgdf{
        text-align: center;
    }
    
    .dgndfgdfgdf img{
        margin-top: 1.5rem;
    }
    
    .mvicfnvfbc,
    .dgndfgdfgdf img{
        height: auto;
    }
    
    .dopjemwlkjrower_inner{
        text-align: center;
    }
    
    .weinjiurr_inner:global(.p-5),
    .ijdnm_eoijrer:global(.p-5){
        padding: 1rem !important;
    }
}



@media only screen and (max-width:600px)
{
     .btn125
    {
        padding:14px 20px;
    }
    
     .btn126
    {
        padding:14px 20px;
    }
    
    .custom-container,
    .container-grid,
    .custom-container10
    {
        width:90% !important;
    }
    
    .dsfbsdf
    {
        margin-bottom:20px;
    }
    .fbgfjhg
    {
        margin-bottom:25px;
    }
    .vgbfdf
    {
        padding:10px;
    }
}



@media only screen and (max-width:581px)
{
    .btn126{
        margin-left: 0 !important;
    }
}


@media only screen and (max-width:538px)
{
    .sdcsdfeewwwww ul{
        display: block;
    }
}


@media only screen and (max-width:393px)
{
       .btn125
    {
        padding:14px 12px;
    }
    
     .btn126
    {
        padding:14px 12px;
    }
    .fhgdfg h2 {
        font-size:35px;
    }

}


@media only screen and (max-width:375px)
{
    h2 
    {
        font-size:30px !important;
    }
    
       .btn125
    {
        padding:14px 10px;
    }
    
     .btn126
    {
        padding:14px 10px;
    }
}


/*karina start*/

.sdmsdjhsds{
  position:relative;
}                                                                                                                                                                                                       .img1{
position: absolute;
    width: 12vw !important;
    height: auto !important;
    top: 65%;
    left: 14%;
    animation:shake 3s infinite;
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
.img2{
    position: absolute;
    width: 12vw !important;
    height: auto !important;
    top: 22%;
    left: 65.5%;
    animation:pulse 3s infinite;

}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
.img3{
position: absolute;
    width: 12vw !important;
    height: auto !important;
    top: 9%;
    left: 44%;
    animation: bounce 3s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-30px); }
  60% { transform: translateY(-15px); }
}
.img4{
    position: absolute;
    width: 12vw !important;
    height: auto !important;
    top: 63%;
    left: 74%;
    animation: rotate 3s infinite;;
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.img5{
    position: absolute;
    width: 12vw !important;
    height: auto !important;
    top: 21%;
    left: 22.5%;
    animation: heartbeat 3s infinite;

}
@keyframes heartbeat {
  0%, 100% { transform: scale(1); }
  25% { transform: scale(1.1); }
  50% { transform: scale(0.9); }
  75% { transform: scale(1.1); }
}

/*karina end*/

/* Prerana css start */
.dbfghsdf{
  position: relative;
}
.oo1{
    position: absolute;
    height: 11vw !important;
    width: 19vw !important;
    top: 1.7vw;
    right: 29vw;
    animation: tg 3s infinite;
}
@keyframes tg {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-0.3rem);
  }
  100%{
    transform: translateX(0);
  }
}

.oo2{
    position: absolute;
    height: 12vw !important;
    width: 13vw !important;
    top: 0vw;
    right: 2vw;
    animation:5s infinite down;
    opacity:0;
}
@keyframes down{
  0%{transform:translate(-1rem);}
  100%{transform:translateY(0);opacity:1.4};
}
.oo3{
    position: absolute;
    height: 12vw !important;
    width: 12vw !important;
    top: 14vw;
    right: -1vw;
     animation: blink 3.5s infinite;
}
@keyframes blink{
  0%,100% {
    filter:drop-shadow(0 0 0px);}
  50%{
       filter:drop-shadow(0 0 10px);
    }
}
.oo4{
    position: absolute;
    height: 11vw !important;
    width: 14vw !important;
    top: 14.7vw;
    right: 34vw;
    animation: wave 4s infinite;
}
 @keyframes wave{
  0%{
    transform: translate(-10px,20px) scale(0.5);
    opacity: 0;
  }
  100%{
    transform: translate(0,0) scale(1);
    opacity: 1;
  }
}
.oo5{
    position: absolute;
    height: 9vw !important;
    width: 12vw !important;
    top: 18.7vw;
    right: 18vw;
    animation:up 2s infinite linear;
}
@keyframes up {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-0.3rem);
  }
  100%{
    transform: translateY(0);
  }
}
/* Prerana css end */